﻿body {margin:0px;}

.lightbluebg{ 
background-image:url(../img/bg_headerbelow.gif);
background-repeat:repeat-x;
height:11px;
}

.whitetxt{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	}

.blueetxt{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #A3E3FC;
	text-decoration:none;
	}

.bluebg{ 
background: url(../img/bg_header.gif) repeat-x;
height:120px;
}

.midwhite{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #00339C;
	}
	
.logo{ background:url(../img/logo.gif) no-repeat;}
.logo a,logo a:hover{width:174px; height:120px; display:block}

.smlwhite{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	}

.bigblue{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #23437F;
	}
	
.bigblue1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #23437F;
	}

.bigblue2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #23437F;
	}

.bigblack{
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #524949;
	}

.textfield{
	border:1px solid #828282;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	height: 23px;
	width: 230px;
	background-color:#ffffff;
}

.textfieldDT{
	border:1px solid #828282;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #21458B;
	height: 17px;
	width: 160px;
	background-color:#ffffff;
}

.textfieldDT{
	border:1px solid #828282;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #21458B;
	height: 17px;
	width: 160px;
	background-color:#ffffff;
}

.textfield1{
	border:1px solid #828282;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	height: 17px;
	width: 160px;
	background-color:#f6f6f6;
}

.dg_font
{
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
color: #023399;
font-size:11px;
font-weight:normal;
padding:3px;
}

.key{ background:url(../img/mid_top.jpg) no-repeat;
 width:305px;
 height:75px;
 }

.midwhite13{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #00339C;
	text-decoration:none; 
	}
	
.midwhiteH{
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none; 
	}

.midwhite1{
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	}

.footerbg{ background:url(../img/footer.gif) repeat-x; height:45px;}

.red{ color:#FF0000;
font-family:Tahoma;
font-size:11px;
font-weight:normal;
text-decoration:none;}


.midwhite{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
	}

.border{ border:#23437F 1px solid;}

.textfield{
	border:1px solid #203268;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #21458B;
	height: 23px;
	width: 230px;
	background-color:#ffffff;
}
.textarea{
	border:1px solid #203268;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #21458B;
	height: 70px;
	width: 230px;
	background-color:#ffffff;
}
.listtext{
	border:1px solid #203268;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #21458B;
	height: 23px;
	width: 230px;
	background-color:#ffffff;
}

.MainLabel{
 FONT-SIZE: 12px;
 COLOR: #203167; 
 FONT-STYLE: normal; 
 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
 padding:2px 2px 2px 2px;
 text-decoration:none;
}

.MainLabel12{
 FONT-SIZE: 13px;
 COLOR: #203167; 
 FONT-STYLE: normal; 
 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
 padding:0px 0px 0px 0px;
}

.ashLabel{
 FONT-SIZE: 11px;
 COLOR: #6997D3; 
 FONT-STYLE:italic; 
 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
 padding:2px 4px 2px 10px;
}

.chkfield{
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #21458B;
	height: 17px;
	width: 160px;
}

.bigblue1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #23437F;
	}

.bigblue{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #23437F;
	}

.leftadmin{ background:url(../img/left.gif) no-repeat;
	width:9px; height:34px;}
	
.midadmin{ background:url(../img/mid.gif) repeat-x;}

.midadmin1{ background:url(../img/mid.gif) repeat-x;
    font:normal 12px tahoma;
    }

.rightadmin{ background:url(../img/right.gif) no-repeat;
	width:9px; height:34px;}

.rightmid{
background:url(../img/rightmid.gif) repeat-y; }

.leftmid{
background:url(../img/leftmid.gif) repeat-y; }

.topleft{
background:url(../img/topleft.gif) top right no-repeat;width:7px; height:7px;}

.topmid{
background:url(../img/topmid.gif) repeat-x; }

.botmid{
background:url(../img/botmid.gif) repeat-x; }

.topright{
background:url(../img/topright.gif) top left no-repeat; width:7px; height:7px;}

.botleft{
background:url(../img/botleft.gif)  bottom right no-repeat; width:7px; height:7px;}

.botright{
background:url(../img/botright.gif)  bottom left no-repeat; width:7px; height:7px;}


.text_3{
	background-image: url(../img/bullet.gif);
	background-repeat:no-repeat;
	background-position:3px center;
	margin-left:10px;
	margin-right:10px;
	margin-top:3px;
	padding-left:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#ffffff;
}

/*.menu_bg{background-color:#E8E8E8;
}*/
.menu_bg{background-color:#FEFEFE;
	border:#ADD2FF 1px solid;margin:2px;
}

.menu_bg_01{background-color:#F4F4F4;
border:1px solid #808080;
}

.menu_bg_02{background-color:#F5F5F5;
}

.heading_bg{/*border:#000000 1px solid;*/
background-color:#D6E8FF;
margin:2px;
height:20px;
}

.cor_left{background-image:url(../img/left_cor.gif);
background-repeat:no-repeat;
width:4px;
height:25px;
}

.cor_right{background-image:url(../img/right_cor.gif);
background-repeat:no-repeat;
width:4px;
height:25px;
}

.mid_cor{background-image:url(../img/mid_cor.gif);
background-repeat:repeat-x;
height:25px;
}

/*.heading_bg{border:1px solid #7B7B7B;
background-color:#D2D2D2;
height:20px;
}*/
.heading_bg{/*border:#000000 1px solid;*/
background-color:#D6E8FF;
margin:2px;
height:20px;
}

.link_8{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#003399;
}

.text_5{
	/*background-image: url(../images/bullet_02.gif);*/
	background-image: url(../img/arrowright.jpg);
	background-repeat:no-repeat;
	background-position:15px center;
	margin-left:10px;
	margin-right:10px;
	margin-top:3px;
	padding-left:30px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:#003399;
background-color:#EDF4FF;/*#FEFEFE;*/
border:#C9E0FF 1px solid;margin:2px;
height:20px;
}

.link_4{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:#000000;
}
.link_4:hover{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
text-decoration:underline;
color:#000000;
}

.link_5{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:underline;
color:#666666;
}
.link_5:hover{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
color:#666666;
}

.link_6{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-decoration:none;
color:#000000;
padding-right:25px;
}
.link_6:hover{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-decoration:none;
color:#606060;
padding-right:25px;
}

.link_7{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
text-decoration:underline;
color:#000000;
}
.link_7:hover{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:#000000;
}

.errmsg{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:Red;
}

.successmsg{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:Navy;
}

.table_nav_bg_02{background-color:#FFFFFF;
    
}

.table_nav_bg_01{
	background-color:#F1F7FE;
	border: 1px solid #ADD2FF;
}

.table_nav_bg_01a{
	background-color:#F1F7FE;
	border: 1px solid #ADD2FF;
	FONT-SIZE: 12px;
 COLOR: #203167; 
 FONT-STYLE: normal; 
 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
 padding:2px 2px 2px 2px;
}

.midwhite1211{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none; 
	background-color:#26618F;
	position:relative; TOP: expression(this.parentNode.parentNode.parentNode.scrollTop-1); 
	}
	
.midwhite12{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none; 
	background-color:#26618F;
	/*position:relative; top:expression(this.parentNode.parentNode.parentNode.scrollTop-2);*/
	
}

td.tab1{ width:100%;text-align:center;padding-left:10px;}
ul.tab1{width:0 auto; height:auto; padding:2; margin:0;}
ul.tab1 li{background:#234285 url(../img/tab_bg1.gif) repeat-x top; display:inline; float:left; color:#fff; font:normal 12px verdana; text-align:center;}
ul.tab1 li a{width:0 auto; height:auto; display:block; background:#234285 url(../img/tab_bg1.gif) repeat-x top; color:#fff; padding:8px; text-decoration:none; border:1px solid #4D71C5}
/*ul.tab1 li a:hover{width:auto; height:auto; display:block; background:#fff; color:#234285; padding:8px; text-decoration:none}*/
ul.tab1 li a.select{width:0 auto; height:auto; display:block; background:#fff; color:#234285; padding:8px; text-decoration:none}

/* 21 dec 2007 */

td.inbox_back{background-color:#EFF7FF;border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc}
tr.inbox{width:auto; height:auto; border-top:1px solid #ccc}
tr.inbox td{width:auto; height:auto; display:block; border-right:1px solid #ccc; text-align:center; float:left}
tr.inbox td a{width:auto; height:auto; display:block; padding:7px; background:#EFF7FF; color:#23437F; text-decoration:none}
tr.inbox td a:hover{background:#B7ECF7; color:#333; text-decoration:none}

ul.steps{list-style:none; width:auto; height:auto; padding:0; margin:0;}
ul.steps li{display:inline; padding:0px 13px 0px 13px; color:#333; border-right:1px solid #ccc}
ul.steps li.visited{color:#999}
ul.steps li.active{color:#224D99; font-weight:bold}


.HelpClass2
{ 
border: 1px solid transparent;
border-color: #DDDDDD; 
font:11px verdana;
background-color:#F3F1F1;
color: #000000;
}

ul.help{padding:5; margin:5;}
ul.help li{font:normal 11px tahoma; color:#666}

/* Entry Form Style by TP on 02-01-2008 */
Table.Entry_Form
{
            font-family:Verdana, Arial, Helvetica, sans-serif;
	        font-size: 8pt;
	        font-weight: bold;
	        color: #23437F;
 }
Table.Entry_Form TD.Control_Label
{
            width:200px;
            text-align:left;
            padding-left: 20px;
}
Table.Entry_Form TD.Seperator_Colon
{
    width:20px;
}
Table.Entry_Form TD.Bigger_Labels_1
{
	font-size: 12pt;
}

.dg_font_link
{
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
color: #203167;
font-size:12px;
font-weight:normal;
text-decoration:none;
padding:2px 2px 2px 2px;
}


/* Entry added by TP on 12-01-2008 */
 .Required_Field_Star{color:#FF0000}
 
 a.thumbnail:link, a.thumbnail:visited
{
border:10px solid #d6e8ff;
display:block;
}

a.thumbnail:hover, a.thumbnail:active
{
border:10px solid #b5d5ff;
display:block;

}

.text_gold{
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
background:#224F9C;
padding-left:10px;
}

.border_gray{ border:1px solid #23437F;
padding:6px;
}

.text_black{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#FFFFFF;
}

.text_05{
color:#000000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}

.text_black1{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-decoration:none;
color:#FFFFFF;
}

/* sayantan -- customize graph */
.text_07{
color:#000000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.text_black_2{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#000000;
}

.text_small{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
text-decoration:none;
color:#000000;
letter-spacing:-1px;
}

.border_main{ border:1px solid #3366cc;
}

/* Entry added by TP on 12-01-2008 */
 .Required_Field_Star{color:#FF0000}
 
 a.thumbnail:link, a.thumbnail:visited
{
border:10px solid #d6e8ff;
display:block;
}

a.thumbnail:hover, a.thumbnail:active
{
border:10px solid #b5d5ff;
display:block;

}
.button_bg{ background:url(../img/buttonbg.gif) left top repeat-x;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
text-decoration:none;
color:#ffffff;
padding:0px 4px;
height:20px;
border:#4C6FC2 1px solid; 
cursor:hand;
cursor:pointer;
}

.button_bg2{ background:url(../img/buttonbg.gif) left top repeat-x;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
text-decoration:none;
text-transform:uppercase;
color:#ffffff;
padding:0px 4px;
height:20px;
width:70px;
border:#4C6FC2 1px solid; 
cursor:hand;
cursor:pointer;
}

.button_bg3{ background:url(../img/buttonbg.gif) left top repeat-x;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;

font-weight:normal;
text-decoration:none;

color:#ffffff;
padding:0px 4px;
height:20px;
width:auto;
border:#4C6FC2 1px solid; 
cursor:hand;
cursor:pointer;
}

.linktext{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #26618F;
	text-decoration:none;
	font-style:normal;
	/*padding-left:5px;*/
	}
	
.pgbg2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#26618F;
	font-size:9px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
	/*padding-left:5px;*/
	}
	
.pgbg2:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#26618F;
	font-size: 9px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:underline;
	/*padding-left:5px;*/
	}	
	
	.smlblack{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #524949;
	text-decoration:none;
	}
	.mainnavside1{
/*background-image:url(bgmainnav.gif);*/
background-repeat:repeat-x;
height:23px;
border-left:1px solid #CBCED9;
border-top:1px solid #CBCED9;
border-bottom:1px solid #CBCED9;
padding-left:4px;
}
.mainnavside2{
/*background-image:url(bgmainnav.gif);*/
background-repeat:repeat-x;
height:23px;
border-right:1px solid #CBCED9;
border-top:1px solid #CBCED9;
border-bottom:1px solid #CBCED9;
padding-right:6px;
}
.mainnavside3{
/*background-image:url(bgmainnav.gif);*/
background-repeat:repeat-x;
height:23px;
border-top:1px solid #CBCED9;
border-bottom:1px solid #CBCED9;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:bold;
color:#003399;
padding-left:2px;
text-decoration:none;
cursor:pointer;
}


.sub_dropdown_box_02{width:170px;
height:35px;
margin:0 auto;
clear:both;
border-bottom:1px solid #EFEFEF;
}



a.dynamicmenu02:link, a.dynamicmenu02:visited{width:160px;
height:26px;
padding:9px 0px 0px 10px;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Microsoft Sans Serif", Tahoma, Verdana;
font-size:12px;
font-style:normal;
text-decoration:none;
color:#000000;
background-color:#FFFFFF;
display:block;
outline:none;
cursor:pointer;
}
a.dynamicmenu02:hover, a.dynamicmenu02:active{width:160px;
height:26px;
padding:9px 0px 0px 10px;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Microsoft Sans Serif", Tahoma, Verdana;
font-size:12px;
font-style:normal;
text-decoration:none;
color:#FFFFFF;
background-color:#38599A;
display:block;
outline:none;
cursor:pointer;
}

a.dynamicmenu02_selected:link, a.dynamicmenu02_selected:visited{width:160px;
height:26px;
padding:9px 0px 0px 10px;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Microsoft Sans Serif", Tahoma, Verdana;
font-size:12px;
font-style:normal;
text-decoration:none;
color:#FFFFFF;
background-color:#38599A;
display:block;
outline:none;
cursor:pointer;
}
a.dynamicmenu02_selected:hover, a.dynamicmenu02_selected:active{width:160px;
height:26px;
padding:9px 0px 0px 10px;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Microsoft Sans Serif", Tahoma, Verdana;
font-size:12px;
font-style:normal;
text-decoration:none;
color:#FFFFFF;
background-color:#38599A;
display:block;
outline:none;
cursor:pointer;
}

.player_textfiled_continer_03{width:168px; height:24px; padding-top:4px;float:left; text-align:left;}

.textfield_dropdown_02{
	width:170px;
	height:auto;
	position:absolute;
	z-index:100;
	background-color:#ffffff;
	float:left;
	margin-top:28px;
	border:1px solid #B6C8D9;
}

.textfield_03{border:1px solid #000000;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Microsoft Sans Serif", Tahoma, Verdana;
font-size:14px;
font-style:normal;
text-decoration:none;
color:#000000;
width:166px;
height:24px;
padding:5px 0px 0px 4px;
}


/* CSS Document for right panel */
.right-panel-header{
background:#999999;
color:#fff;
font: bold 14px Arial, Helvetica, sans-serif;
}

.right-panel-sub-header{
background:#f1f7fe;
color:#3270b9;
font: bold 11px Arial, Helvetica, sans-serif;
padding-left:20px;
}

.right-panel-left-body{
border-top:1px solid #add2ff;
font: Normal 11px Arial, Helvetica, sans-serif;
color:#000;
padding: 0 0 0 15px;
}

.right-panel-right-body{
border-top:1px solid #add2ff;
font: Normal 11px Arial, Helvetica, sans-serif;
color:#000;
padding: 0 15px 0 0px;
}
.right-panel-button{
background:#20356d;
border:0px solid #000;
padding:3px;
color:#fff;
cursor:pointer;
}


/* service css */
#category-header{
font: normal 14px Arial, Helvetica, sans-serif;
color:#000;
}
.root-link{
font: bold 14px Arial, Helvetica, sans-serif;
color:#23437f;
text-decoration:none;
}

.root-link a{
font: bold 14px Arial, Helvetica, sans-serif;
color:#23437f;
text-decoration:none;
}

.root-link:hover{
font: bold 14px Arial, Helvetica, sans-serif;
color:#23437f;
text-decoration:underline;
}
.cat-input{
border:1px solid #add2ff;
}

.cat-body{
background:#fff;
border:1px solid #26618f;
border-top:none;
margin: 0 0 20px 0;
}
.cat-body-header{
background:#26618f;
margin:0px;
height:30px;
line-height:30px;
vertical-align:middle;
color:#fff;
padding: 0 0 0 10px;
}

/*.cat-header-left{
float:left;
font: normal 12px Arial, Helvetica, sans-serif;
height:30px;
line-height:30px;
vertical-align:middle;
}*/
.cat-header-left{
float:left;
font: normal 12px Arial, Helvetica, sans-serif;
line-height:30px;
vertical-align:middle;
}
.cat-header-left-inner{
float:left;
font: normal 12px Arial, Helvetica, sans-serif;
padding-left:60px;
}

.cat-header-left-inner-button{
float:left;
font: normal 12px Arial, Helvetica, sans-serif;
padding-left:205px;
}

.cross{
height:22px;
line-height:30px;
vertical-align:middle;
padding: 8px 5px 0 0;
}

.cross-inner{
float:left;
height:22px;
line-height:22px;
vertical-align:middle;
padding: 0px 0px 0 200px;
}
.inner-balance{
clear:both;

}
.new-answer{
background:#fff;
border:1px solid #ccc;
font: normal 12px #000;
}


.cat-body-area_01{
background:#ffffff;
margin:0px 0 10px 0;
height:30px;
line-height:30px;
vertical-align:middle;
color:#000;
padding: 0 0 0 10px;
}

.cat-body-area{
background:#f1f7fe;
margin:0px 0 10px 0;
line-height:30px;
vertical-align:middle;
color:#000;
padding: 0 0 0 10px;
}
.cat-input-body{
border:1px solid #add2ff;
width:200px;
}
.new-question-button{
background:#fffefb;
border:1px solid #688df6;
color:##000;
cursor:pointer;
width:200px;
}
.balance{
clear:both;
}
.button-area{
padding: 0 10px 20px 0;
}
.save-button{
background:#f6f6f6;
border:1px solid #919191;
color:#000;
cursor:pointer;
width:100px;
}


.cat-answer-area{
padding: 0 0 0 60px;
font: normal 12px Arial, Helvetica, sans-serif;
color:#000;
}
.cross-answer-area{
padding: 0 0 0 200px;
}
.inner-height{
height:5px;
overflow:hidden;
}
.ans-button-area{
padding: 0 0 0 180px;
}
/*TOOL TIP STYLE*/

.tooltip_panel{width:80px;
float:left;
height:auto;
text-align:center;
}

.tooltipbg{background-image:url(../images/tooltip_box.gif);
width:78px;
height:32px;
background-repeat:no-repeat;
}


.treetxt{
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	}
/* Assign Filter */
.layout_container{
	width:850px;
	height:auto;
	margin-left:30px;
	padding-top:10px;
	clear:both;
	float:left;
}
.layout_container_left{
	width:250px;
	height:auto;
	margin-bottom:40px;
	margin-left:5px;
	padding:0;
	float:left;
}
.layout_heading{
	width:210px;
	height:33px;
	padding:0;
	margin-top:25px;
	clear:both;
	border-bottom:solid 1px #cccccc;
	border-top:solid 1px #cccccc;
}
.innerleft_parametertxt{
	width:200px;
	height:15px;
	padding:0;
	margin-top:5px;
	margin-left:3px;
	clear:both;
	float:left;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #524949;
	text-decoration:none;
}
.left_layout_list{
	width:210px;
	height:20px;
	padding:0;
	margin-top:5px;
	clear:both;
}
.left_container_left{
	width:20px;
	height:20px;
	padding:0;
	margin:0;
	float:left;
}
.left_layout_right{
	width:180px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	FONT-SIZE: 12px;
	COLOR: #203167; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	 padding:2px 2px 2px 2px;
	text-decoration:none;
}
.layout_container_middle{
	width:250px;
	height:auto;
	margin-left:20px;
	margin-bottom:40px;
	padding:0;
	float:left;
}

.layout_container_right{
	width:210px;
	height:auto;
	margin-left:20px;
	margin-bottom:40px;
	padding:0;
	float:left;
}

.createlistinnerleft_heading{
	width:900px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}
.innerleft_headingtxt{
	width:250px;
	height:15px;
	padding:0;
	margin-top:5px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-transform:uppercase;
	text-align:justify;
}
.innerleft_heading_02{
	width:900px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.neighbor_container{
	width:850px;
	height:auto;
	float:left;
	padding:0;
	margin-top:8px;
	margin-bottom:20px;
	clear:both;
	
}


.neighbor_container_2{
	width:750px;
	height:auto;
	float:left;
	padding:0;
	margin-top:8px;
	margin-bottom:20px;
	clear:both;
	
}
.listing_details_container{
	width:650px;
	height:30px;
	padding:0;
	margin:15px auto 0 auto;
	clear:both;
	
}
.left_container_list{
	width:226px;
	height:20px;
	padding:0;
	margin-top:5px;
	clear:both;
}
.left_container_list1{
	width:226px;
	height:45px;
	padding:0;
	clear:both;
}
.left_container_left{
	width:20px;
	height:20px;
	padding:0;
	margin:0;
	float:left;
}

.left_container_right{
	width:200px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.category_container_middle{
	width:275px;
	height:auto;
	float:left;
	margin:0;
	padding-bottom:12px;
}

.category_container_right{
	width:275px;
	height:auto;
	float:right;
	margin:0;
	padding-bottom:12px;
}
.category_container_left{
	width:275px;
	height:auto;
	padding-bottom:12px;
	margin-left:5px;
	float:left;
}


.neighbor_container_middle{
	width:225px;
	height:auto;
	float:left;
	margin:0;
	padding-bottom:12px;
}

.neighbor_container_right{
	width:225px;
	height:auto;
	float:right;
	margin:0;
	padding-bottom:12px;
}
.neighbor_container_left{
	width:225px;
	height:auto;
	padding-bottom:12px;
	margin-left:5px;
	float:left;
}

.listing_details_container{
	width:650px;
	height:30px;
	padding:0;
	margin:15px auto 0 auto;
	clear:both;
	
}

.listing_details_container_01{
	width:650px;
	height:30px;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.listing_details_container_01_2{
	width:650px;
	height:75px;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.upload_details_container{
	width:650px;
	height:auto;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}


.listing_details_container_left{
	width:130px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}

.listing_details_container_left_01{
	width:130px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}
.listing_details_container_left_02{
	width:auto;
	height:30px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}

.listing_details_container_right{
	width:467px;
	height:auto;
	padding:0;
	margin:0;
	float:right;
	text-align:justify;
	/*text-align:left; */
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
}

.uploadimg_container{
	width:467px;
	height:auto;
	padding:0;
	margin-bottom:10px;
	float:right;
	text-align:justify;
}
.listing_details_container_02{
	width:650px;
	height:auto;
	padding-bottom:20px;
	margin:8px auto 0 auto;
	clear:both;
	text-align:justify;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	
}

.listing_details_container_right_01{
	width:467px;
	height:auto;
	padding-bottom:20px;
	margin:0;
	float:right;
	text-align:justify;
	clear:right;
}

.selete_listing_txtfield_01{
	width: 230px;
	height:100px;
	padding:0;
	margin:0;
	clear:both;
	font-family: Verdana;
	font-size: 12px;
	text-decoration:none;
	text-align:justify;
	font-weight: normal;
	color: #000000;
	border:1px solid #828282;
	background-color:#ffffff;
	
	
}

.listing_details_container_03{
	width:650px;
	height:auto;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.sml_dropdown{
	width:100px;
	height:20px;
	padding:0;
	margin:0;
	font-family: Verdana;
	font-size: 12px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color: #000000;
	border:1px solid #828282;
	border:1px solid #828282;
}
.sml_cont_1{
	width:100px;
	height:20px;
	padding:0;
	margin-right:8px;
	float:left;
}

.inner_3_container{
	width:689px;
	height:auto;
	padding:0;
	margin:10px auto;
	clear:both;
	float:left;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.inner_3_des_list{
	width:200px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.layout_container_right_mdf{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-right:8px;
	padding:0;
	float:left;
}

.layout_container_left_mdf{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:12px;
	padding:0;
	float:left;
}

.big_img_container{
	width:660px;
	height:337px;
	margin:auto;
	clear:both;
	vertical-align:middle;
	/*background-image: url(../img/big_img.jpg);*/
	background-repeat:no-repeat;
}

.layout_container_mdf{
	width:689px;
	height:auto;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	clear:both;
	float:left;
	
}
.layout_container_mdf_1{
padding-top:10px;
clear:both;
}
.layout_container_mdf_1.a{
color:#6D86AE;
}
.layout_container_1_1{
float:left;
color:#6D86AE;
font-weight:bold;
}
layout_container_1_2{
padding-left:10px;
float:left;
color:#6D86AE;
font-weight:bold;
}
.layout_container_1{
float:right;
color:#6D86AE;
font-weight:bold;
}
.layout_container_2{
padding-left:10px;
float:left;
color:#6D86AE;
font-weight:bold;
width:400px;
}
.inner3new_heading_prev_next{
width:300px;
height:20px;
padding:0;
margin-left:10px;
color:#a44040;
text-align:right;
float:right;
}
.layout_container_3{
color:#6D86AE;
font-weight:bold;
border:1px solid #6D86AE;
}
.layout_container_3_1{
margin-right:110px;	
color:#6D86AE;
font-weight:bold;
}
.layout_container_3_2{
margin-right:140px;	
color:#6D86AE;
font-weight:bold;
}
.layout_container_4{
float:left;
color:#6D86AE;
font-weight:bold;
}
.thum_img_container{
	width:660px;
	height:auto;
	padding:0;
	margin:0 auto;
	clear:both;
}

.smlthum_img_container{
	width:162px;
	height:110px;
	padding:0;
	margin-right:3px;
	float:left;
}

.smlthum_img_container_mdf{
	width:107px;
	height:58px;
	padding:0;
	margin:0;
	float:left;
}

.inner3left_parametertxt{
	width:200px;
	height:15px;
	padding:0;
	margin-top:5px;
	margin-left:3px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-transform:uppercase;
	text-align:justify;
}

.contact_form_container{
	width:640px;
	height:auto;
	padding:0;
	margin-left:10px;
	clear:both;
}

.contact_form_container_left{
	width:150px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
}

.contact_form_container_right{
	width:450px;
	height:25px;
	padding:0;
	margin-left:40px;
	float:left;
}

.print_btn_container{
	width:135px;
	height:24px;
	padding:0;
	margin-right:10px;
	margin-top:2px;
	float:left;
}



.inner3btn_container{
	width:315px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:right;
}

.inner_smlmap{
	width:300px;
	height:329px;
	padding:0;
	margin-bottom:5px;
	clear:both;
	float:left;
}

.inner_map_tab{
	width:300px;
	height:27px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom:solid 1px #6d86ae;
}

ul.map_tab {
	width:auto;
	padding:0;
	margin:0;
	list-style:none;
}

ul.map_tab li {
	height:27px;
	margin-left:5px;
	display:inline;
	float:left;
	text-transform:uppercase;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#546c91;
	overflow:hidden;
}

ul.map_tab li a{
	height:27px;
	margin:0;
	padding:5px;
	display:inline;
	float:left;
	text-align:center;
	background-color:#f6f6f6;
	border:solid 1px #cccccc;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#546c91;
}

ul.map_tab li a:hover{
	height:27px;
	background-image:url(../img/nav+hov.jpg);
	background-repeat:repeat-x;
	border-top: solid 1px #6d86ae;
	border-left: solid 1px #6d86ae;
	border-right: solid 1px #6d86ae;
}

ul.map_tab li a.select,ul.map_tab li a.select:hover{
	height:27px;
	padding:6px;
	border:none;
	background-color:#ffffff;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#546c91;
}
.share_btn_container{
	width:168px;
	height:24px;
	padding:0;
	margin-top:2px;
	float:right;
}

/*my listing css starts here*/

.mylisting_container{
	width:689px;
	height:220px;
	float:left;
	padding:0;
	margin-top:8px;
	clear:both;
	
}

.mylisting_area_right{
	width:523px;
	height:auto;
	padding:0;
	margin-top:12px;
	float:right;
}

.bgbtn_style{
	width:86px;
	height:26px;
	padding:0;
	margin:0;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn2_style{
	width:300px;
	height:26px;
	padding:0;
	margin:0;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	float:left;
}

.bgbtn3_style{
	width:150px;
	height:26px;
	padding:0;
	margin:0;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn4_style{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn8_style{
	width:165px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn5_style{
	width:140px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn6_style{
	width:200px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.flex_button1{
	width:80px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.flex_button1_disable{
	width:80px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#AFBDD3;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.bgbtn7_style{
	width:125px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn9_style{
	width:480px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	
}

.bgbtn10_style{
	width:390px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	
}




.smlbtn_style{
	width:80px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.smlbtn_style_mylist{
	width:100px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.smlbtn_style_mylist2{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	float:left;
}
.flex_button{
	width:auto;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.mylisting_name{
	width:330px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.mylisting_price{
	width:auto;
	height:20px;
	margin:0;
	padding-right:10px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:left;
}


.mylisting_price_01{
	width:100px;
	height:20px;
	padding:0;
	margin-right:10px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
}

.viewbtn_container{
	width:673px;
	height:auto;
	padding-top:15px;
	margin-bottom:10px;
	clear:both;
}

.viewbtn_container_left{
	width:100px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
}

.viewbtn_container_right{
	width:550px;
	height:auto;
	padding:0;
	margin-left:10px;
	float:left;
}

.press_btn{
	width:550px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
}



/*added on 14-01-2009*/

.price_range_container_mdf{
	width:681px;
	height:30px;
	padding:0;
	margin-bottom:10px;
	clear:both;
	float:left;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
}

.inner3new_map_tab{
	width:300px;
	height:27px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.inner3new_video{
	width:300px;
	height:178px;
	padding:0;
	margin-bottom:5px;
	margin-top:10px;
	clear:both;
	float:left;
}

.inner3new_floorplane{
	width:300px;
	height:auto;
	padding:0;
	margin-bottom:5px;
	margin-top:10px;
	clear:both;
}

.inner3new_right_ad_2{
	width:300px;
	height:auto;
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
}

.inner3new_map{
	width:300px;
	height:224px;
	padding:0;
	margin-top:10px;
	clear:both;
}

.inner3new_heading{
	width:500px;
	height:20px;
	padding:0;
	margin-top:5px 0 10px 0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}
.inner3new_heading a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

.inner3new_heading a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

.inner3newleft_heading{
	width:900px;
	height:30px;
	padding:0;
	margin-top:10px;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.inner3newleft_heading_01{
	width:900px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.price_range_container{
	width:681px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:left;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
}

.parameter_heading{
	width:655px;
	height:auto;
	padding:0;
	margin-top:8px;
	margin-left:8px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}


/*added on 05-01-2009*/





