.css1{
text-decoration:none;
color:#000000;
}
body{
	margin:0;
	padding:0;
	text-align:center;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
}
a{color:#000000; text-decoration:none}
a:hover{color:#6d86ae; text-decoration:underline}

.wrapper{
	width:100%;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}

.warapper_top{
	width:100%;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
	background-image:url(../img/top_bg.jpg);
	background-repeat:repeat-x;
	background-color:#ffffff;
}
.warapper_top1{
	width:100%;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
	background-image:url(../img/top_bg_new.jpg);
	background-repeat:repeat-x;
	background-color:#ffffff;
}
.warapper_bottom{
	width:100%;
	height:237px;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
	background-color:#a44040;
	background-image:url(../img/footer_bg.jpg);
	background-repeat:repeat-x;
}

.warapper_bottom_01{
	width:100%;
	height:230px;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
	background-color:#a44040;
}
/*body_container starts here*/

.body_container{
	width:1000px;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}
/*body_container_top starts here*/

.body_container_top{
	width:1000px;
	height:186px;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}
.body_container_top1{
	width:1000px;
	height:90px;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}
.top_bannersingup_container{
	width:1000px;
	height:94px;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}

.top_banner_container_left{
	width:729px;
	height:90px;
	padding:0;
	margin-top:3px;
	float:left;
}

.top_signup_container_right{
	width:262px;
	height:90px;
	padding:0;
	margin:0 auto 0 auto;
	float:right;
}

.signin_txtbig{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	color:#6d86ae;
	text-align:justify;
}

.signin_txtbig a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	color:#6d86ae;
	text-align:justify;
}

.signin_txtbig a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:underline;
	font-weight:bold;
	color:#6d86ae;
	text-align:justify;
}

.signin_txt{
	width:262px;
	height:20px;
	padding:0;
	margin:15px auto 0 auto;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

/*.signin_txt a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;

}

.signin_txt a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	font-weight:normal;
	color:#a44040;
	text-align:justify;

}
*/
.top_signup_container{
	width:260px;
	height:auto;
	padding:0;
/*	margin-top:15px;*/
	clear:both;
}

.top_signup_container_mdf{
	width:260px;
	height:auto;
	padding:0;
	margin-top:5px;
	clear:both;
}

.top_signup_container_top{
	width:258px;
	height:33px;
	padding:0;
	margin:3px auto 0 auto;
	clear:both;
	
}

.top_signup_container_bottom{
	width:258px;
	height:24px;
	padding:0;
	margin:0;
	clear:both;
}

.usernam_container{
	width:108px;
	height:26px;
	padding:0;
	margin:0;
	float:left;
	background-image:url(../img/usernam_field.jpg);
	background-repeat:no-repeat;
}

.signup_field{
	width:90px;
	height:20px;
	padding:0;
	margin-top:5px;
	background-color:transparent;
	border:none;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#ffffff;
}

.password_container{
	width:108px;
	height:26px;
	padding:0;
	margin-left:3px;
	float:left;
	background-image:url(../img/usernam_field.jpg);
	background-repeat:no-repeat;
}

.search_btn{
	width:36px;
	height:27px;
	padding:0;
	margin-left:2px;
	float:right;
}

.username_shadow{
	width:auto;
	height:15px;
	padding:0;
	margin-left:3px;
	float:left;
/*	background-image:url(../img/username_shd.jpg);
	background-repeat:no-repeat;*/
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
}

.username_shadow2{
	width:180px;
	height:15px;
	padding:0;
	margin-left:3px;
	float:left;
/*	background-image:url(../img/username_shd.jpg);
	background-repeat:no-repeat;*/
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
}


.username_shadow a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
}

.username_shadow a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-decoration:underline
}

.btn_shadow{
	width:34px;
	height:24px;
	padding:0;
	margin:0;
	float:right;
	background-image:url(../img/btn_shd.jpg);
	background-repeat:no-repeat;
}



.nav_search_container{
	width:1000px;
	height:100px;
	padding:0;
	margin:0;
	clear:both;
}

.navigation_container_left{
	width:690px;
	height:auto;
	padding:0;
/*	margin-top:20px;
*/	float:left;
}

.search_container_left{
	width:300px;
	height:30px;
	padding:0;
	margin-top:20px;
	float:right;
}

.serach_field{
	width:264px;
	height:41px;
	padding:0;
	margin:0;
	float:left;
	background-image:url(../img/search_field.jpg);
	background-repeat:no-repeat;
}

.innerserach_field{
	width:239px;
	height:25px;
	padding:0;
	margin-top:3px;
	background-color:transparent;
	border:none;
}

.search_container_right{
	width:31px;
	height:41px;
	padding:0;
	margin-left:5px;
	float:left;
}
/*body_container_top ends here*/

/*body_container_middle starts here*/

.body_container_middle{
	width:1000px;
	height:auto;
	padding:0;
	margin-bottom:40px;
	clear:both;
}

.middle_container{
	width:1000px;
	height:auto;
	padding:0;
	margin-top:15px;
	clear:both;
}

.middle_container_left{
	width:675px;
	height:auto;
	padding:0;
	margin-bottom:50px;
	float:left;
}

.left_txt_container{
	width:673px;
	height:auto;
	padding:0;
	margin:auto;
	clear:both;
	text-align:justify;
	
}

.left_grey_container{
	width:673px;
	height:100px;
	padding:0;
	margin-top:15px;
	clear:both;
	background-color:#f6f6f6;
}

.left_grey_container_txt{
	width:649px;
	height:auto;
	padding-top:8px;
	margin:0 auto 0 auto;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	text-align:justify;
	color:#333333;	
	
}
.left_grey_container_txt1{
font-size: 50px; 
font-family: 'Times New Roman',Times,serif; 
color: #47474e;
}
.left_grey_container_txt_text{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:justify;
	}

.left_grey_container_txt_text2{
	color:#000000;
	font-size:50px;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	}

.left_list_container{
	width:673px;
	height:auto;
	padding:0;
	margin:0;
	clear:both;
}

.left_list_container_left{
	width:326px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
	
}

.left_list_container_left ul{
	padding:0;
	margin:0;
}

.left_list_container_left ul li{
	padding-top:9px;
	margin-top:15px;
	display:block;
	border-top:solid 1px #dddddd;
}

.left_list_container_right{
	width:320px;
	height:auto;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.left_list_container_right ul{
	padding:0;
	margin:0;
}

.left_list_container_right ul li{
	padding-top:9px;
	margin-top:15px;
	display:block;
	border-top:solid 1px #dddddd;
}

.middle_container_right{
	width:300px;
	height:auto;
	padding:0;
	margin-bottom:50px;
	float:right;
}

.right_ad_1{
	width:300px;
	height:auto;
	padding:0;
	margin:0;
	clear:both;
}

.right_ad_2{
	width:300px;
	height:auto;
	padding:0;
	margin-top:10px;
	clear:both;
}

.btn_manhattan{
	width:103px;
	height:54px;
	padding:0;
	margin:0;
	background-image:url(../img/btn_1.jpg);
	background-repeat:no-repeat;
	display:block;
	float:left;
}

.btn_manhattan:hover{
	background-position:bottom left;
}

.btn_booklyn{
	width:85px;
	height:54px;
	padding:0;
	margin-left:2px;
	background-image:url(../img/btn_2.jpg);
	background-repeat:no-repeat;

	display:block;
	float:left;
}

.btn_booklyn:hover{
	background-position:bottom left;
}

.btn_queens{
	width:69px;
	height:54px;
	padding:0;
	margin-left:2px;
	background-image:url(../img/btn_3.jpg);
	background-repeat:no-repeat;
	display:block;
	float:left;
}

.btn_queens:hover{
	background-position:bottom left;
}

.btn_bronx{
	width:66px;
	height:54px;
	padding:0;
	margin-left:2px;
	background-image:url(../img/btn_4.jpg);
	background-repeat:no-repeat;
	display:block;
	float:left;
}

.btn_bronx:hover{
	background-position:bottom left;
}

.btn_yonker{
	width:209px;
	height:54px;
	padding:0;
	margin-left:2px;
	background-image:url(../img/btn_5.jpg);
	background-repeat:no-repeat;
	display:block;
	float:left;
}

.btn_yonker:hover{
	background-position:bottom left;
}

.btn_upstate{
	width:147px;
	height:54px;
	padding:0;
	margin-left:2px;
	background-image:url(../img/btn_6.jpg);
	background-repeat:no-repeat;
	display:block;
	float:left;
}

.btn_upstate:hover{
	background-position:bottom left;
}



/*body_container_middle ends here*/
	
/*body_container ends here*/

/*footer_container starts here*/

.footer_container{
	width:1000px;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}


.footertop_container{
	width:1000px;
	height:95px;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
	background-image:url(../img/footer_img.jpg);
	background-repeat:no-repeat;	
}


.footerbottom_container{
	width:1000px;
	height:auto;
	padding:0;
	margin:0 auto 0 auto;
	clear:both;
}

.footerbottom_container_left{
	width:210px;
	height:auto;
	padding:0;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#ffffff;
	text-align:justify;
}

.footerbottom_container_left ul{
	padding:0;
	margin:0;
}

.footerbottom_container_left ul li{
	padding:0;
	margin:0;
	display:block;
}

.footerbottom_container_left ul li a{
	padding:0;
	margin:0;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#ffffff;
	text-align:justify;

}

.footerbottom_container_left ul li a:hover{
	padding:0;
	margin:0;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	font-weight:normal;
	color:#ffffff;
	text-align:justify;

}

.footerbottom_container_right{
	width:728px;
	height:90;
	padding:0;
	margin:0;
	float:right;
}

.copyright_container{
	width:500px;
	height:20px;
	padding:0;
	margin-top:10px;
	margin-right:10px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#eeeeee;
	float:right;
	text-align:right;
}
/*footer_container ends here*/

/*for inner page css*/

.innermiddle_container_left{
	width:300px;
	height:auto;
	padding:0;
	margin-bottom:50px;
	float:left;
}

.innermiddle_container_right{
	width:689px;
	height:auto;
	padding:0;
	margin-bottom:30px;
	float:right;
}


.inner_left_heading{
	width:300px;
	height:auto;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
	color:#a44040;
	text-align:justify;
}

.inner_map_container{
	width:300px;
	height:800px;
	padding:0;
	margin-top:17px;
	clear:both;
}

.innerleft_ad_1{
	width:300px;
	height:auto;
	padding:0;
	margin-top:10px;
	clear:both;
}

.innerleft_heading{
	width:689px;
	height:30px;
	padding:0;
	margin-top:38px;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.innerleft_headingtxt{
	width:auto;
	height:26px;
	padding:0;
	margin-top:2px;
	
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-transform:uppercase;
	text-align:left;
}
.innerright_headingtxt{
	width:300px;
	height:26px;
	padding:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-transform:uppercase;
	text-align:justify;
}
.neighbor_container{
	width:689px;
	height:auto;
	float:left;
	padding:0;
	margin-top:8px;
	margin-bottom:20px;
	clear:both;
	background-color:#f6f6f6;
}

.neighbor_container_left{
	width:226px;
	height:auto;
	padding-bottom:12px;
	margin-left:5px;
	float:left;
}

.left_container_list{
	width:226px;
	height:20px;
	padding:0;
	margin-top:5px;
	clear:both;
}
.left_container_list1{
	width:226px;
	height:45px;
	padding:0;
	clear:both;
}
.left_container_left{
	width:20px;
	height:20px;
	padding:0;
	margin:0;
	float:left;
}

.left_container_right{
	width:200px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.neighbor_container_middle{
	width:226px;
	height:auto;
	float:left;
	margin:0;
	padding-bottom:12px;
}

.neighbor_container_right{
	width:226px;
	height:auto;
	float:right;
	margin:0;
	padding-bottom:12px;
}
.language_left{
	width:150px;
	height:auto;
	padding-bottom:12px;
	margin-left:5px;
	float:left;
}
.language_middle{
	width:150px;
	height:auto;
	float:left;
	margin:0;
	padding-bottom:12px;
}

.language_right{
	width:150px;
	height:auto;
	float:right;
	margin:0;
	padding-bottom:12px;
}
.innerleft_heading_02{
	width:689px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.innerleft_heading_03{
	width:689px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
}

.innerleft_heading_04{
	width:689px;
	height:30px;
	padding:0;
	margin-top:20px;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.parameter_heading{
	width:655px;
	height:auto;
	padding:0;
	margin-top:8px;
	margin-left:8px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.price_range_container{
	width:681px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:left;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
}

.innerleft_parametertxt{
	width:auto;
	height:15px;
	padding:0;
	margin-top:5px;
	margin-left:3px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:justify;
}

.range_list_container{
	width:400px;
	
	margin:0;
	padding-top:8px;
	float:left;
}

.range_list_container_left{
	width:73px;
	height:25pxpx;
	padding:0;
	margin-top:8px;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.range_list_container_right{
	width:120px;
	
	padding:0;
	margin-top:8px;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.range_listbox{
	width:120px;
	height:20px;
	padding:0;
	margin:0;
	border:solid 1px #999999;
}

.minimum_container{
	width:380px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:left;
}

.layout_container{
	width:672px;
	height:auto;
	margin:0;
	padding-top:10px;
	clear:both;
	float:left;
}

.layout_container_left{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:12px;
	padding:0;
	float:left;
}

.layout_container_middle{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-right:12px;
	padding:0;
	float:left;
}

.layout_container_right{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-right:12px;
	padding:0;
	float:left;
}

.layout_heading{
	width:210px;
	height:33px;
	padding:0;
	margin-top:25px;
	clear:both;
	border-bottom:solid 1px #cccccc;
	border-top:solid 1px #cccccc;
}

.left_layout_list{
	width:210px;
	height:20px;
	padding:0;
	margin-top:5px;
	clear:both;
}

.left_layout_right{
	width:180px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.submit_btn_container{
	width:155px;
	height:26px;
	padding:0;
	margin-top:2px;
	float:right;
}


.alert_btn_container{
	width:86px;
	height:26px;
	padding:0;
	margin-right:10px;
	margin-top:2px;
	float:right;
}

.btn_container{
	width:300px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:right;
}

.inner_rightresult_heading{
	width:480px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}
.inner_rightresult_heading1{
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	color:#a44040;
	text-align:right;
}
.inner_rightresult_heading a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

.inner_rightresult_heading a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}
.inner_rightresult_heading1 a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	color:#a44040;
	text-align:right;
}
.inner_rightresult_heading1 a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:underline;
	font-weight:bold;
	color:#a44040;
	text-align:right;
}
.listing_container{
	width:689px;
	height:120px;
	float:left;
	padding:0;
	margin-top:8px;
	clear:both;
	background-color:#f6f6f6;
}

.listing_area{
	width:673px;
	height:auto;
	padding:0;
	margin:5px auto 0 auto;
	clear:both;
}

.listing_area_left{
	width:130px;
	height:98px;
	padding:0;
	margin:0;
	float:left;
}

.listing_area_right{
	width:523px;
	height:auto;
	padding:0;
	margin:0;
	float:right;
}

.listing_area_right_02{
	width:523px;
	height:auto;
	padding:0;
	margin-top:50px;
	float:right;
}

.listing_name{
	width:220px;
	height:20px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}
.listing_name1{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.listing_price{
	width:105px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
}
.listing_price2{
	padding-left:250px;
}
.listing_head{
	width:689px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
}

.listing_head_left{
	width:200px;
	height:20px;
	padding-left:50px;
	margin-top:5px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
	text-transform:uppercase;
}


.listing_head_right{
	width:100px;
	height:20px;
	margin-top:5px;
	padding-right:25px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
	text-transform:uppercase;
}


.nxtprevious_container{
	width:auto;
	height:25px;
	padding:0;
	margin-top:5px;
	margin-left:8px;
	clear:both;
	float:left;
}

.nxtprevious_container_left{
	width:70px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}

.nxtprevious_container_left a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}

.nxtprevious_container_left a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}

.nxtprevious_container_middle{
	width:auto;
	height:20px;
	padding:0;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}


.nxtprevious_container_right{
	width:70px;
	height:25px;
	padding:0;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}

.nxtprevious_container_right a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}

.nxtprevious_container_right a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
	color:#6d86ae;
	text-align:justify;
}

ul.page_tab {
	width:auto;
	height:20px;
	padding:0;
	margin:0;
	list-style:none;
}

ul.page_tab li {
	width:20px;
	height:20px;
	padding:0;
	margin-left:3px;
	display:inline;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#6d86ae;
}

ul.page_tab li a{
	width:20px;
	height:20px;
	padding-top:2px;
	margin:0;
	display:inline;
	float:left;
	text-align:center;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#6d86ae;
}

ul.page_tab li a:hover{
	width:20px;
	height:20px;
	padding:0;
	margin:0;
	padding-top:2px;
	display:inline;
	float:left;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
}

ul.page_tab li a.select,ul.page_tab li a.select:hover{
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
}

/*added on 02-01-2009*/

ul.navgation_tab {
	width:auto;
	padding:0;
	margin:0;
	list-style:none;
	
}

ul.navgation_tab li {
	margin-left:2px;
	display:inline;
	float:left;
	text-transform:uppercase;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
}

ul.navgation_tab li a{
	height:27px;
	margin:0;
	padding:6px;
	display:inline;
	float:left;
	text-align:center;
	background-color:#e2e3e3;
	background-image:url(../img/nav_bg.jpg);
	background-repeat:repeat-x;
	border:solid 2px #cccccc;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#a44040;
}
.err_msg{
font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#a44040;
}
.newsletter_table{
border:2px solid #cccccc;
}
.newsletter{
background-color:#e2e3e3;
color:#A44040;
font-size:12px;
font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
font-weight:normal;

text-transform:uppercase;
}
.newsletter_msg{
color:#A44040;
font-size:12px;
font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
font-weight:normal;	
}
.newsletter1{
background-color:#e2e3e3;
color:#A44040;
font-size:12px;
font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
font-weight:normal;
}
.newsletter2{
border:2px solid #cccccc;
font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
font-weight:normal;
}
.newsletter3{
background-color:#e2e3e3;
color:#A44040;
font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
text-decoration:none;
text-align:center;
font-weight:normal;
font-size:12px;
}
.newslr_border_b{
border-top:1px solid #cccccc;
}
.newslr_borderl{
border-top:1px solid #cccccc;
border-right:1px solid #cccccc;
}
.newslr_border2{
border-top:1px solid #cccccc;
}
ul.navgation_tab li a:hover{
	background-image:url(../img/nav+hov.jpg);
	background-repeat:repeat-x;
	border: solid 2PX #FFFFFF;
}

ul.navgation_tab li a.select,ul.navgation_tab li a.select:hover{
	height:30px;
	padding:6px;
	border:none;
	background-color:#ffffff;
	background-image:url(../img/nav+hov.jpg);
	background-repeat:repeat-x;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#a44040;
}

/*create_listing css*/

.createlistinnerleft_heading{
	width:689px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.listnav{
	width:500px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#a44040;
}

.listnav a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#a44040;
}

.listnav a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	text-align:justify;
	font-weight:normal;
	color:#a44040;
}
.selete_listing_left{
	width:145px;
	height:25px;
	padding:0;
	margin-left:10px;
	margin-top:8px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}

.selete_listing_right{
	width:468px;
	height:30px;
	padding:0;
	margin-top:8px;
	margin-right:10px;
	float:right;
	text-align:left;
}

.selete_listing_field{
	width:466px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.selete_listing_txtfield{
	width:467px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.selete_listing_txtfield_01{
	width:467px;
	height:100px;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}


.selete_listing_txtfield_02{
	width:467px;
	height:200px;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.listing_details_container{
	width:650px;
	height:30px;
	padding:0;
	margin:15px auto 0 auto;
	clear:both;
	color:#A44040;
}

.listing_details_container_01{
	width:650px;
	height:30px;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.listing_details_container_01_2{
	width:650px;
	height:75px;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.upload_details_container{
	width:650px;
	height:auto;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.listing_details_container_03{
	width:650px;
	height:auto;
	padding:0;
	margin:8px auto 0 auto;
	clear:both;
}

.listing_details_container_02{
	width:650px;
	height:auto;
	padding-bottom:20px;
	margin:8px auto 0 auto;
	clear:both;
	text-align:justify;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	
}

.listing_details_container_left{
	width:130px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}

.listing_details_container_left_01{
	width:130px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}
.listing_details_container_left_02{
	width:auto;
	height:30px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
}
.listing_details_container_right{
	width:467px;
	height:auto;
	padding:0;
	margin:0;
	float:right;
	text-align:justify;
	/*text-align:left; */
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
}

.uploadimg_container{
	width:467px;
	height:auto;
	padding:0;
	margin-bottom:10px;
	float:right;
	text-align:justify;
}
.uploadimg_container1{
	width:600px;
	height:auto;
	padding:0;
	margin-bottom:10px;
	float:right;
	text-align:center;
}
.uploadimg_container_left{
	width:220px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	text-align:justify;
}
.uploadimg_container_left1{
	width:350px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	text-align:justify;
	
}
.left_browse_container_1{
	width:220px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	
}

.uploadimg_container_right{
	width:auto;
	height:auto;
	/*padding:0;
	padding-bottom:100px;*/
	margin-bottom:20px;
	float:right;
	text-align:right;
	/*border:1px solid #000000;*/
}
.listnav1{
	width:150px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	/*text-decoration:none;*/
	text-align:right;
	font-weight:normal;
	color:#a44040;
	cursor:pointer;
}

.listnav1 a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#a44040;
}

.listnav1 a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	text-align:justify;
	font-weight:normal;
	color:#a44040;
}
.left_browse_container_2{
	width:auto;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	/*border:1px solid #000000;*/
	
}
.listing_details_container_right_01{
	width:467px;
	height:auto;
	padding-bottom:20px;
	margin:0;
	float:right;
	text-align:justify;
	clear:right;
}
.listing_details_container_right_01_01{
	width:467px;
	height:auto;
	padding-bottom:20px;
	margin:0;
	float:right;
	text-align:justify;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	clear:right;
}
.listingdetails_field{
	width:250px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.contact_container{
	width:689px;
	height:auto;
	padding:0;
	margin-bottom:10px;
	clear:both;
}

.listing_layout_heading{
	width:210px;
	height:33px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom:solid 1px #cccccc;
	border-top:solid 1px #cccccc;
}

.listing_neighbor_container{
	width:689px;
	height:370px;
	float:left;
	padding:0;
	margin-top:8px;
	margin-bottom:20px;
	clear:both;
	background-color:#f6f6f6;
}

.error_mseg{
	width:auto;
	height:15px;
	padding:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

/*inner_3 css*/

.inner_3_container{
	width:689px;
	height:auto;
	padding:0;
	margin:10px auto;
	clear:both;
	float:left;
	background-color:#f6f6f6;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.inner_3_des_list{
	width:200px;
	height:20px;
	padding:0;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.layout_container_right_mdf{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-right:8px;
	padding:0;
	float:left;
}

.layout_container_left_mdf{
	width:210px;
	height:auto;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:12px;
	padding:0;
	float:left;
}

.big_img_container{
	width:660px;
	height:337px;
	margin:auto;
	clear:both;
	vertical-align:middle;
	/*background-image: url(../img/big_img.jpg);*/
	background-repeat:no-repeat;
}

.layout_container_mdf{
	width:689px;
	height:auto;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	clear:both;
	float:left;
	background-color:#f6f6f6;
}
.layout_container_mdf_1{
padding-top:10px;
clear:both;
}
.layout_container_mdf_1.a{
color:#6D86AE;
}
.layout_container_1_1{
float:left;
color:#6D86AE;
font-weight:bold;
}
layout_container_1_2{
padding-left:10px;
float:left;
color:#6D86AE;
font-weight:bold;
}
.layout_container_1{
float:right;
color:#6D86AE;
font-weight:bold;
}
.layout_container_2{
padding-left:10px;
float:left;
color:#6D86AE;
font-weight:bold;
width:400px;
}
.inner3new_heading_prev_next{
width:300px;
height:20px;
padding:0;
margin-left:10px;
color:#a44040;
text-align:right;
float:right;
}
.layout_container_3{
color:#6D86AE;
font-weight:bold;
border:1px solid #6D86AE;
}
.layout_container_3_1{
margin-right:110px;	
color:#6D86AE;
font-weight:bold;
}
.layout_container_3_2{
margin-right:140px;	
color:#6D86AE;
font-weight:bold;
}
.layout_container_4{
float:left;
color:#6D86AE;
font-weight:bold;
}
.thum_img_container{
	width:660px;
	height:auto;
	padding:0;
	margin:0 auto;
	clear:both;
}

.smlthum_img_container{
	width:162px;
	height:110px;
	padding:0;
	margin-right:3px;
	float:left;
}

.smlthum_img_container_mdf{
	width:107px;
	height:58px;
	padding:0;
	margin:0;
	float:left;
}

.inner3left_parametertxt{
	width:200px;
	height:15px;
	padding:0;
	margin-top:5px;
	margin-left:3px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-transform:uppercase;
	text-align:justify;
}

.contact_form_container{
	width:640px;
	height:auto;
	padding:0;
	margin-left:10px;
	clear:both;
}

.contact_form_container_left{
	width:150px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
}

.contact_form_container_right{
	width:450px;
	height:25px;
	padding:0;
	margin-left:40px;
	float:left;
}

.print_btn_container{
	width:135px;
	height:24px;
	padding:0;
	margin-right:10px;
	margin-top:2px;
	float:left;
}



.inner3btn_container{
	width:315px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	float:right;
}

.inner_smlmap{
	width:300px;
	height:329px;
	padding:0;
	margin-bottom:5px;
	clear:both;
	float:left;
}

.inner_map_tab{
	width:300px;
	height:27px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom:solid 1px #6d86ae;
}

ul.map_tab {
	width:auto;
	padding:0;
	margin:0;
	list-style:none;
}

ul.map_tab li {
	height:27px;
	margin-left:5px;
	display:inline;
	float:left;
	text-transform:uppercase;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#546c91;
	overflow:hidden;
}

ul.map_tab li a{
	height:27px;
	margin:0;
	padding:5px;
	display:inline;
	float:left;
	text-align:center;
	background-color:#f6f6f6;
	border:solid 1px #cccccc;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#546c91;
}

ul.map_tab li a:hover{
	height:27px;
	background-image:url(../img/nav+hov.jpg);
	background-repeat:repeat-x;
	border-top: solid 1px #6d86ae;
	border-left: solid 1px #6d86ae;
	border-right: solid 1px #6d86ae;
}

ul.map_tab li a.select,ul.map_tab li a.select:hover{
	height:27px;
	padding:6px;
	border:none;
	background-color:#ffffff;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	color:#546c91;
}
.share_btn_container{
	width:168px;
	height:24px;
	padding:0;
	margin-top:2px;
	float:right;
}

/*my listing css starts here*/

.mylisting_container{
	width:689px;
	height:220px;
	float:left;
	padding:0;
	margin-top:8px;
	clear:both;
	background-color:#f6f6f6;
}

.mylisting_area_right{
	width:523px;
	height:auto;
	padding:0;
	margin-top:12px;
	float:right;
}

.bgbtn_style{
	width:86px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn2_style{
	width:300px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	float:left;
}

.bgbtn22_style{
	width:250px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:none;
	float:left;
}

.bgbtn22_style_mylisting{
	width:200px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	
	float:left;
}

.bgbtn3_style{
	width:150px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn4_style{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn4_style_detail{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn8_style{
	width:165px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn8_style_detail{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn5_style{
	width:140px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn6_style{
	width:200px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn6_style_detail{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.flex_button1{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.flex_button1_disable{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#AFBDD3;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:none;
}
.bgbtn7_style{
	width:125px;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn7_style_detail{
	width:auto;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.bgbtn9_style{
	width:480px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	
}

.bgbtn9_style_detail{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	}

.bgbtn10_style{
	width:390px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	
}

.bgbtn10_style_detail{
	width:auto;
	height:26px;
	padding-left:2px;
	padding-right:2px;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	
}


.smlbtn_style{
	width:80px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.smlbtn_style_mylist{
	width:100px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}

.smlbtn_style_mylist2{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	/*cursor:none;*/
	float:left;
}
.smlbtn_style_mylist_myinfo{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	float:left;
}

.smlbtn_style_mylist_result{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
	float:left;
}
.flex_button{
	width:auto;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
	cursor:pointer;
}
.mylisting_name{
	width:330px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.mylisting_price{
	width:auto;
	height:20px;
	margin:0;
	padding-right:10px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:left;
}


.mylisting_price_01{
	width:100px;
	height:20px;
	padding:0;
	margin-right:10px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
}

.viewbtn_container{
	width:673px;
	height:auto;
	padding-top:15px;
	margin-bottom:10px;
	clear:both;
}

.viewbtn_container_left{
	width:100px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
}

.viewbtn_container_right{
	width:550px;
	height:auto;
	padding:0;
	margin-left:10px;
	float:left;	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
	cursor:pointer;
}

viewbtn_container_right.a{color:#000000; text-decoration:none;cursor:pointer;}
viewbtn_container_right.a:hover{color:#6d86ae; text-decoration:underline;cursor:pointer;}

.press_btn{
	width:550px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
}

/*added on 14-01-2009*/

.price_range_container_mdf{
	width:681px;
	height:30px;
	padding:0;
	margin-bottom:10px;
	clear:both;
	float:left;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
}

.inner3new_map_tab{
	width:300px;
	height:27px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.inner3new_video{
	width:300px;
	height:178px;
	padding:0;
	margin-bottom:5px;
	margin-top:10px;
	clear:both;
	float:left;
}

.inner3new_floorplane{
	width:300px;
	height:auto;
	padding:0;
	margin-bottom:5px;
	margin-top:10px;
	clear:both;
}

.inner3new_right_ad_2{
	width:300px;
	height:auto;
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
}

.inner3new_map{
	width:300px;
	height:224px;
	padding:0;
	margin-top:10px;
	clear:both;
}

.inner3new_heading{
	width:500px;
	height:20px;
	padding:0;
	margin-top:5px 0 10px 0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}
.inner3new_heading a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

.inner3new_heading a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	font-weight:normal;
	color:#a44040;
	text-align:justify;
}

.inner3newleft_heading{
	width:689px;
	height:30px;
	padding:0;
	margin-top:10px;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.inner3newleft_heading_01{
	width:689px;
	height:30px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}


/*added on 05-01-2009*/
/*popup_login page css starts here*/
.popup_container{
	width:500px;
	height:auto;
	padding:0;
	margin-top:20px;
	margin-left:20px;
	clear:both;
	float:left;
	border:1px solid #000000;
}

.popup_container_top{
	width:500px;
	height:50px;
	padding:0;
	margin:0;
	clear:both;
	background-image:url(../img/popup_bg.gif);
	background-repeat:repeat-x;
	background-color:#ab4e4e;
}

.top_txt_container{
	width:300px;
	height:25px;
	padding:0;
	margin-top:15px;
	margin-left:15px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	text-align:justify;
}
.top_txt_container1{
	width:auto;
	height:25px;
	padding:0;
	margin-top:15px;
	margin-left:15px;
	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	color:#ffffff;
	text-align:justify;
}
.popup_container_middle{
	width:500px;
	height:auto;
	padding:0;
	margin:0;
	clear:both;
	float:left;
	background-color:#f6f6f6;
}

.middle_from_container{
	width:400px;
	height:auto;
	padding:0;
	margin:10px auto 10px auto;
	clear:both;
}

.popup_container_footer{
	width:500px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	background-image:url(../img/popup_bg.gif);
	background-repeat:repeat-x;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#ffffff;
	text-align:center;
}
.mailinglist_container{
	width:300px;
	height:30px;
	padding:0;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	/*border:1px solid #000000;*/
}
.mailinglist_container_left{
	width:100px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
.mailinglist_container_right{
	width:200px;
	height:auto;
	padding:0;
	height:auto;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
.username_container{
	width:370px;
	height:30px;
	padding:0;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	/*border:1px solid #000000;*/
}
.username_container_left{
	width:165px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
.username_container_right{
	width:205px;
	height:auto;
	padding:0;
	height:auto;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
/*-------------------------------------*/
.mail_container{
	width:330px;
	height:30px;
	padding:0;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	/*border:1px solid #000000;*/
}
.mail_container_left{
	width:125px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
.mail_container_right{
	width:205px;
	height:auto;
	padding:0;
	height:auto;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
.mail_container1{
	width:330px;
	height:175px;
	padding:0px;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	
}
.mail_container_left1{
	width:125px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
.mail_container_right1{
	width:205px;
	padding:0;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #000000;*/
}
/*-------------------------------------*/
.username_container1{
	width:400px;
	height:175px;
	padding:0px;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:left;
	
}
.username_container2{
	width:370px;
	height:50px;
	padding:0px;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	
}
.username_container_01{
	width:400px;
	height:30px;
	padding:0;
	margin-top:15px;
	clear:both;
}
.username_container_left1{
	width:165px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}

.username_container_left_event{
	width:65px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
.username_container_left2{
	width:180px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
.avl_container{
	width:270px;
	height:30px;
	padding:0;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	/*border:1px solid #000000;*/
}
.avl_container_left{
	width:30px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
.avl_container_right{
	width:240px;
	height:auto;
	padding:0;
	height:auto;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #333333;*/
}
.username_container_right1{
	width:205px;
	padding:0;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #000000;*/
}
.plaxo_container{
	width:400px;
	height:auto;
	padding:0px;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	/*border:1px solid #000000;*/
	
}
.plaxo_container1{
	width:400px;
	height:175px;
	padding:0px;
	margin-top:8px;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
	/*border:1px solid #000000;*/
	
}
.plaxo_container_left1{
	width:110px;
	height:auto;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
.plaxo_container_left1_1{
	width:320px;
	height:auto;
	padding-top:10px;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
.plaxo_button{
	width:400px;
	height:auto;
	margin:0;
	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:center;
}
.plaxo_container_right1{
	width:290px;
	padding:0;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #000000;*/
}
.plaxo_container_right1_1{
	width:70px;
	padding:0;
	/*margin-left:10px;*/
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
	/*border:1px solid #000000;*/
}
.value_txtfield{
	width:220px;
	height:25px;
	padding:0;
	margin:0;
	border:solid 1px #6d86ae;
}

.fogetpass_txt{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#9f3232;
	text-align:justify;
}

.fogetpass_txt a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#9f3232;
	text-align:justify;
}

.fogetpass_txt a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:underline;
	font-weight:normal;
	color:#9f3232;
	text-align:justify;
}

.login_btn{
	width:140px;
	height:auto;
	padding-left:100px;
	margin-left:25px;
	margin-top:10px;
	margin-bottom:8px;
	float:left;
	/*border:1px solid #000000;*/
}

.cancel_btn{
	width:100px;
	height:auto;
	padding:0;
	
	margin-top:10px;
	margin-bottom:8px;
	float:right;
	/*border:1px solid #000000;*/
}

.day_dropdown{
	width:220px;
	height:25px;
	padding:0;
	margin:0;
	border:solid 1px #6d86ae;
}

.time_dropdown{
	width:130px;
	height:25px;
	padding:0;
	margin:0;
	border:solid 1px #6d86ae;
}

.time_dropdown_01{
	width:70px;
	height:25px;
	padding:0;
	margin:0;
	border:solid 1px #6d86ae;
}

.time_dropdown_012{
	width:60px;
	height:25px;
	padding:0;
	margin:0;
	border:solid 1px #6d86ae;
}
/*popup_login page css ends here*/

/*added on 16-01-2009*/

.per_list_container_right{
	width:120px;
	height:25px;
	padding:0;
	margin-top:8px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.per_txt{
	width:30px;
	height:20px;
	padding:0;
	margin-top:8px;
	margin-left:5px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:center;
}

.login_mesg{
	width:300px;
	height:auto;
	padding:0;
	margin-bottom:8px;
	clear:both;
	border:solid 1px #9c2d2d;
	background-color:#f6f6f6;
}

.inner_login_container{
	width:280px;
	height:auto;
	padding:0;
	margin:5px auto 8px auto;
	clear:both;
}

.inner_login_txtcontainer{
	width:280px;
	height:auto;
	padding:0;
	margin-top:3px;
	clear:both;
	border-bottom:solid 1px #cccccc;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:justify;
}

.inner_login_txtcontainer a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:center;
}

.inner_login_txtcontainer a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:underline;
	font-weight:normal;
	color:#ae0505;
	text-align:center;
}

.top_map_containre{
	width:auto;
	height:12px;
	padding:0;
	margin:0;
	clear:both;
}

.top_map_containre ul{
	padding:0;
	margin:0;
}

.top_map_containre ul li{
	padding:0;
	margin-right:3px;
	display:inline;
	float:left;
}

.logo_container{
	width:690px;
	height:25px;
	padding:0;
	margin:0;
	clear:both;
	float:left;
}

.logo_area{
	width:400px;
	height:22px;
	padding:0;
	margin-top:13px;
	clear:both;
	float:left;
	text-align:left;
}

.nav_inner_container{
	width:690px; 
	float:left;
}

.range_list_container_right_01{
	width:250px;
	height:10px;
	margin:0;
	padding-top:8px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.ckhbox_txt{
	width:30px;
	height:20px;
	padding:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:center;
}

.ckhbox_txtarea{
	width:50px;
	height:20px;
	padding:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:center;
}

.anchor_css{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:center;
}

.anchor_css a{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#a44040;
	text-align:center;
}

.anchor_css a:hover{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-align:center;
}

.registration_container{
	width:689px;	
	float:left;
	padding:0;
	margin-top:8px;
	margin-bottom:20px;
	clear:both;
	background-color:#f6f6f6;
}
.login_container{
	width:689px;
	height:120px;
	float:left;
	padding:0;
	margin-top:8px;
	margin-bottom:20px;
	clear:both;
	background-color:#f6f6f6;
}

.red{ color:#FF0000;
font-family:Tahoma;
font-size:11px;
font-weight:normal;
text-decoration:none;}


.mylist_rightdes{
	width:350px;
	height:auto;
	padding:0;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}

.mylist_btn{
	width:150px;
	height:auto;
	padding:0;
	margin-left:15px;
	float:left;
}

.mylisting_price_01_new{
	width:100px;
	height:20px;
	padding:0;
	margin-top:10px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
}

.mylisting_price_new{
	width:100px;
	height:20px;
	margin:0;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:left;
}
.save_container{
	width:672px;
	height:auto;
	padding:0;
	margin:10px auto;
	clear:both;
	
}

.save_container_head{
	width:672px;
	height:25px;
	padding:0;
	margin:0;
	clear:both;
	border-bottom: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
}

.save_container_headtxt{
	width:672px;
	height:25px;
	padding:0;
	margin-top:10px;
	clear:both;
}

.action_container{
	width:100px;
	height:25px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:justify;
}

.save_head{
	width:130px;
	height:25px;
	padding:0;
	margin-left:8px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:justify;
}

.save_head_01{
	
	height:25px;
	padding:0;
	margin-left:8px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:justify;
}
.save_head_02{
	
	height:25px;
	padding:0;
	margin-top:5px;
	margin-bottom:5px;
	font-weight:bold;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:center;
}


.save_head_01_new{
	width:180px;
	height:auto;
	padding:0;
	margin-left:8px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
}


.edit_btn{
	width:38px;
	height:26px;
	padding:0;
	margin-left:15px;
	float:left;
}

.del_btn{
	width:55px;
	height:26px;
	padding:0;
	margin:0;
	float:right;
}

.sml_cont_1{
	width:100px;
	height:20px;
	padding:0;
	margin-right:8px;
	float:left;
}

.sml_dropdown{
	width:100px;
	height:20px;
	padding:0;
	margin:0;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.event_details_container_right{
	width:467px;
	height:120px;
	padding:0;
	margin:0;
	float:right;
	text-align:justify;
	clear:right;
}

.mailinglist_btn{
	width:125px;
	height:26px;
	padding:0;
	margin-left:8px;
	float:left;
}

.creatlist_btn{
	width:109px;
	height:26px;
	padding:0;
	margin-left:10px;
	float:left;
}
.save_head_txt{
	
	height:auto;
	padding:0;	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	padding-left:2px;
	
}
.save_head_txt2{
	
	height:auto;
	padding:0;	
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:left;
		
}
.save_head_txt1{
	
	height:auto;
	padding:0;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:justify;
	vertical-align:top;
}
.sml_cont_1{
	width:100px;
	height:20px;
	padding:0;
	margin-right:8px;
	float:left;
}

.sml_dropdown{
	width:100px;
	height:20px;
	padding:0;
	margin:0;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.mult_dropdown{
	width:250px;
	height:100px;
	padding:0;
	margin:0;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.event_details_container_right{
	width:467px;
	height:120px;
	padding:0;
	margin:0;
	float:right;
	text-align:justify;
	clear:right;
}

.mailinglist_btn{
	width:125px;
	height:26px;
	padding:0;
	margin-left:8px;
	float:left;
}

.creatlist_btn{
	width:109px;
	height:26px;
	padding:0;
	margin-left:10px;
	float:left;
}
.missinfo_btn{
	width:150px;
	height:26px;
	padding:0;
	margin-top:10px;
	float:right;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:right;
}

.mylisting_container{
	width:689px;
	height:180px;
	float:left;
	padding:0;
	margin-top:8px;
	clear:both;
	background-color:#f6f6f6;
}

.mylist_btn{
	width:150px;
	height:auto;
	padding:0;
	margin-left:15px;
	float:right;
}

.innerleft_headingtxt_new{
	width:690px;
	height:26px;
	padding:0;
	margin-top:5px;
	margin-bottom:5px;
/*	margin-left:265px;
*/	clear:both;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
	text-transform:uppercase;
	text-align:right;
}

.inner3newleft_heading_new{
	width:689px;
	height:37px;
	padding:0;
	margin-top:10px;
	clear:both;
	border-bottom: solid 1px #6d86ae;
	border-top: solid 1px #6d86ae;
}

.news_btn_container{
	width:135px;
	height:24px;
	padding:0;
	margin-right:10px;
	margin-top:2px;
	float:left;
}

.addtonews_btn{
	width:205px;
	height:27px;
	padding:0;
	margin-right:10px;
	float:right;
	text-align:justify;
}

.addtonews_btn_01{
	width:160px;
	height:27px;
	padding:0;
	float:right;
	text-align:justify;
}


.infobgbtn_style{
	width:160px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
}


.newsbgbtn_style{
	width:205px;
	height:26px;
	padding:0;
	margin:0;
	background-color:#6d86ae;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffffff;
	border:none;
}

.innermiddle_container_left_mdf{
	width:300px;
	height:auto;
	padding:0;
	margin-bottom:50px;
	float:right;
}

.innermiddle_container_right_new{
	width:689px;
	height:auto;
	padding:0;
	margin-bottom:30px;
	float:left;
}
.redbold{
	color:#A44040;
	font-size:13px;
	font-weight:bold;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
}

.css2{
text-align:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	

}

.listing_area_left2{
	width:130px;
	height:98px;
	padding-left:275px;
	padding-top:40px;
	margin:0;	
	text-align:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	color:#A44040;
}

.bodytext{
	
	text-align:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
}

.smalltext{
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-align:center;
	padding-top:4px;
}
 div.auto_complete{
	position         :relative;   
	width            :250px;  
	background-color :white;    
	border           :1px solid #888;  
	margin           :0;    
	padding          :0px; 
	vertical-align	 :top;
	text-align	 :justify;
	display		 :none;
	}
	li.selected {
	list-style:none;	
	/*background-color: #ffb;*/
	text-align:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	}
	.li_class{
	 list-style:none;
	/* background-color: #EAEAEA;*/
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	}
	
	.selete_listing_txtfieldevent{
	width:200px;
	height:20px;
	padding:0;
	margin:0;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align:justify;
	font-weight:normal;
	color:#333333;
	border:solid 1px #e1e1e1;
}

.innerserach_field{
	width:150px;
	height:25px;
	padding-left:3px;
	margin-top:3px;
	background-color:transparent;
	border:none;
}

.serach_field{
	width:150px;
	height:41px;
	padding:0;
	margin:0;
	float:left;
	background-image:url(../img/search_field.jpg);
	background-repeat:no-repeat;
}

.helpcontainer_right{
	width:31px;
	height:41px;
	padding:0;
	margin-left:15px;
	float:left;
}
.bottom_ad_cont{
	width:950px;
	height:auto;
	margin:0 auto 0 auto;
	padding-top:15px;
	clear:both;
	position:relative;
	text-align:center;
	
}

.bottom_ad_cont_left{
	width:302px;
	height:278px;
	margin-right:20px;
	padding:0;
	float:left;
}

.bottom_ad_cont_left_01{
	width:302px;
	height:278px;
	padding:0;
	float:left;
}


.banner_right_caption{
	width:300px;
	height:auto;
	padding:0;
	margin-top:10px;
	
	margin-bottom:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:center;
}

.banner_right_caption_bottom{
	width:300px;
	height:auto;
	padding:0;
	margin-top:10px;
	margin-left:10px;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:center;
}

link{
	margin:0;
	padding:0;
	text-align:center;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	color:#6d86ae;
}
link.a{color:#000000; text-decoration:none}
link.a:hover{color:#6d86ae; text-decoration:underline}

.myinfo{
	width:689px;
	height:auto;
	padding:0;
	margin-top:38px;
	clear:both;
	text-align:justify
	}
.username_container_left_news{
	width:100px;
	height:25px;
	padding:0;
	margin:0;
	float:left;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	text-transform:uppercase;
	text-align:left;
}
/*###########################FOR-AUTO-COMPLETE################################*/
.changepass_dropdown{
	width:180px;
	height:80px;
	padding:0;
	margin:0;
	float:left;
	overflow:auto;
	border: solid 1px #e1e1e1;
	background-color: #FFFFFF;
}
.changepass_dropdown_inner{
	width:180px;
	height:auto;
	padding:0;
	margin:0 auto;
}

ul.changepasslist {
	width:auto;
	padding:0;
	margin:0;
	list-style:none;
}

ul.changepasslist li {
/*	margin-left:2px;
*/	display:inline;
	float:left;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#6d86ae;
	text-align:justify;
}

ul.changepasslist li a{
	width:140px;
	height:15px;
	margin:0;
	padding:5px 4px 0 3px;
	display:inline;
	float:left;
	text-align:justify;
	font-family:arial;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#6d86ae;
}

ul.changepasslist li a:hover{
	font-family:arial;
	font-size:12px;
	text-decoration:none;
	padding:5px 4px 0 3px;
	font-weight:bold;
	color:#9a2a29;
	text-align:justify;
}

ul.changepasslist li a.select,ul.changepasslist li a.select:hover{
	padding:5px 4px 0 3px;
	border:none;
	font-family:arial;
	font-size:12px;	
	text-decoration:none;
	font-weight:bold;
	color:#9a2a29;
	text-align:justify;
}
.helpcontainer_right_new{
	width:100px;
	height:41px;
	padding:0;
	margin-left:8px;
	float:left;
	font-size:11px;
	text-align:left;
	color:#ffffff;
	text-decoration:none;
	font-weight:normal;
}
.helpcontainer_right_new a{
	font-size:11px;
	text-align:left;
	color:#ffffff;
	text-decoration:none;
	font-weight:normal;
}

.helpcontainer_right_new a:hover{
	font-size:11px;
	text-align:left;
	color:#ffffff;
	text-decoration:underline;
	font-weight:normal;
}
.inner_login_container_new{
	width:280px;
	height:225px;
	padding:0;
	margin:5px auto 8px auto;
	clear:both;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:justify;

}

.inner_login_container_new ul{
	padding:0;
	margin:0;
	float:left;
}

.inner_login_container_new ul li{
	padding:0;
	margin:0;
	display:block;
	margin-left:8px;
	list-style:none;
	margin-top:1px;
	border-bottom:solid 1px #cccccc;
}


.inner_login_container_new ul li a{
	padding:0;
	margin:0;
	display:block;
	background-image:url(../img/red_icon.gif);
	background-repeat:no-repeat;
	background-position:0 3px;
	padding-left:13px;
	padding-bottom:2px;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#ae0505;
	text-align:justify;

}

.inner_login_container_new ul li a:hover{
	padding:0;
	margin:0;
	display:block;
	padding-left:13px;
	padding-bottom:2px;
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:underline;
	font-weight:normal;
	color:#ae0505;
	text-align:justify;

}
.mceEditor{
	
	text-align:justify;

}