body{
	font-family:"Book Antiqua",Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	font-weight:normal;
	background-color:#EDEDED;
}
a{color:#000000; text-decoration:none}
a:hover{color:#6d86ae; text-decoration:underline}

#header{
background-color:#A64242;
color:#FFFFFF;
padding-left:1%;
}

.topics{
color:#000000;
font-size:14px;
border-top:1px solid #D2D3CB;
border-bottom:1px solid #D2D3CB;
background-color:#DADADA;
padding:2%;
}
.topics:hover{
background-color:#FEFEDC;
border:1px solid #FEFEGC;
color:#AE0505;
}
.footer{
padding-top:2%;
font-size:12px;
text-align:center;
}