@charset "utf-8";
/* CSS Document */

body {
	margin:5px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
/* structure */
div.struct

/*head */
div.companhead {
	background:url(../img/mobile/companyheadbg.gif) repeat-x 0 0 #a44040;
	height:58px;
	border-bottom:1px solid #FFF;
	}
div.companhead img {
	margin:7px 0 0 6px;
	}
div.sectionlink {
	}
div.sectionlink ul.linkshow {
	list-style-type:none;
	padding:0px;
	margin:0px;
	}
div.sectionlink ul.linkshow li {
	padding:0px;
	margin:0px;
	border-bottom:1px solid #dedede;
	}
div.sectionlink ul.linkshow li a, div.sectionlink ul.linkshow li a.active {
	display:block;
	padding:0 7px;
	line-height:27px;
	text-decoration:none;
	background-color:#ededed;
	}
div.sectionlink ul.linkshow li a:hover, div.sectionlink ul.linkshow li a.active {
	background-color:#a0a0a0;
	}
div.sectionlink ul.linkshow li a.rentalapart, div.sectionlink ul.linkshow li a.activerental {
	background-image:url(../img/mobile/rentalapartment.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.rentalapart:hover, div.sectionlink ul.linkshow li a.activerental {
	background-image:url(../img/mobile/rentalapartment-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.apartmentsale, div.sectionlink ul.linkshow li a.activeapart {
	background-image:url(../img/mobile/apartmentlist.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.apartmentsale:hover, div.sectionlink ul.linkshow li a.activeapart {
	background-image:url(../img/mobile/apartmentlist-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.buildingsale, div.sectionlink ul.linkshow li a.activebuild {
	background-image:url(../img/mobile/buildingsale.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.buildingsale:hover, div.sectionlink ul.linkshow li a.activebuild {
	background-image:url(../img/mobile/buildingsale-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.commerspcretail, div.sectionlink ul.linkshow li a.activecomm {
	background-image:url(../img/mobile/commerspaceretail.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.commerspcretail:hover, div.sectionlink ul.linkshow li a.activecomm {
	background-image:url(../img/mobile/commerspaceretail-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.singlefamhome, div.sectionlink ul.linkshow li a.activesngfam {
	background-image:url(../img/mobile/singlefamhome.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.singlefamhome:hover, div.sectionlink ul.linkshow li a.activesngfam {
	background-image:url(../img/mobile/singlefamhome-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.privateparty, div.sectionlink ul.linkshow li a.activeprvpary {
	background-image:url(../img/mobile/privateparty.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.privateparty:hover, div.sectionlink ul.linkshow li a.activeprvpary {
	background-image:url(../img/mobile/privateparty-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.aboutus, div.sectionlink ul.linkshow li a.activeabout {
	background-image:url(../img/mobile/aboutus.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.aboutus:hover, div.sectionlink ul.linkshow li a.activeabout {
	background-image:url(../img/mobile/aboutus-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.contactus, div.sectionlink ul.linkshow li a.activecontact {
	background-image:url(../img/mobile/contactus.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
div.sectionlink ul.linkshow li a.contactus:hover, div.sectionlink ul.linkshow li a.activecontact {
	background-image:url(../img/mobile/contactus-act.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
	}
	
/* apartment listing subpage */
div.formlistcont {
	padding:5px 8px;
	background-color:#ededed
	}
div.formlistcont div.hgt {
	height:60px;
	}
div.formlistcont div.hgt label.blocktxt {
	display:block;
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#424141;
	}
div.formlistcont div.hgt div.txtbg {
	background:url(../img/mobile/txtboxbg_02.gif) no-repeat 0 0;
	padding:3px 2px;
	}
div.formlistcont div.hgt div.txtbg input {
	width:200px;
	border:0px;
	font:normal 14px Tahoma, Geneva, sans-serif;
	color:#000;
	/*background:url(../img/mobile/txtboxbg-repeat.gif) repeat-x 0 0;*/
	}
div.formlistcont div.hgt select {
	width:172px;
	height:25px;
	padding-top:0px;
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#000;
	}
div.formlistcont div.hgt2 {
	height:20px;
	}
div.formlistcont div.hgt2 label {
	display:block;
	float:left;
	width:86px;
	height:17px;
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#424141;
	}
div.formlistcont div.hgt2 select {
	width:86px;
	height:15px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#424141;
	}
div.formlistcont input.btnsearch{
	width:71px;
	height:21px;
	background:url(../img/mobile/btn-search_new.gif) no-repeat 0 0;
	border:0px;
	text-align:center;
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	}
	
	.btnsubmit{
	width:71px;
	height:21px;
	background:url(../img/mobile/btn-search_new.gif) no-repeat 0 0;
	border:0px;
	text-align:center;
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	}
	
	
	
/*added on 02/11/2009*/

.home_for_sale_cont{
	background-color:#ededed;
	color:#b72525;
	margin:0;
	height:25px;
	padding-left:5px;
	font-weight:bold;
	text-decoration:none;
}

.home_sale_listing{
	margin:0;
	padding-left:5px;
	padding-top:6px;
	padding-bottom:6px;
	background-color:#ededed;
	overflow:hidden;
	border-bottom:solid 1px #d2d4cc;
}

.home_sale_listing:hover{
	margin:0;
	padding-left:5px;
	padding-top:6px;
	padding-bottom:6px;
	background-color:#ededed;
	overflow:hidden;
	border-bottom:solid 1px #f7ef9a;
	border-top:solid 1px #f7ef9a;
	background-color:#fefedc;
}

.home_sale_listing_seleted{
	margin:0;
	padding-left:5px;
	padding-top:6px;
	padding-bottom:6px;
	background-color:#ededed;
	overflow:hidden;
	border-bottom:solid 1px #f7ef9a;
	border-top:solid 1px #f7ef9a;
	background-color:#fefedc;
}

.home_sale_listing_left{
	margin:0;
	width:8%;
	float:left;
	padding:0;
	margin:0;
}

.home_sale_listing_right{
	margin:0;
	width:90%;
	float:left;
	padding:0;
	margin:0;
}

.home_head{
	font-weight:bold;
	color:#565555;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.home_head a{
	font-weight:bold;
	color:#565555;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.home_head a:hover{
	font-weight:bold;
	color:#565555;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.home_des{
	font-weight:normal;
	color:#8b8e84;
	text-decoration:none;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

.home_details{
	margin:0;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:6px;
	background-color:#ededed;
	overflow:hidden;
}

.home_details_01{
	margin:0;
	padding:0;
	float:left;
	clear:both;
}

.home_details_02{
	margin-top:6px;
	padding:0;
	float:left;
	clear:both;
}

.home_details_02 ul {
	margin:0;
	padding:0;
}

.home_details_02 ul li{
	margin:0;
	padding:0;
	display:inline;
}

.home_details_03{
	margin-top:6px;
	padding:0;
	float:left;
	clear:both;
	color:#000000;
	font-size:12px;
	font-weight:bold;
}

.home_details_04{
	margin-top:6px;
	padding:0;
	float:left;
	clear:both;
	color:#7f7e7e;
	font-size:11px;
}

.red_sml_txt{
	color:#b72525;
	font-size:12px;
	font-weight:bold;
}

.home_details_05{
	margin-top:6px;
	padding:0;
	float:left;
	clear:both;
}

.home_details_06{
	margin-top:6px;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
	clear:both;
	border-top:solid 1px #d2d4cc;
	border-bottom:solid 1px #d2d4cc;
}

.home_details_07{
	margin-top:6px;
	float:left;
	clear:both;
	color:#565555;
	font-size:11px;
}


.home_details_07 a{
	color:#565555;
	font-size:11px;
}


.home_details_07 a:hover{
	color:#565555;
	font-size:11px;
}

.home_listing{
	margin:0;
	padding:0;
	background-color:#ededed;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#414040;
	font-family: Tahoma, Geneva, sans-serif;
}

.home_listing ul{
	margin:0;
	padding:0;
	background-color:#ededed;
}

.home_listing ul li{
	margin:0;
	padding:0;
	display:block;
	border-top:solid 1px #dedede;
	
}

.home_listing ul li a{
	margin:0;
	padding:10px 6px 10px 6px;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#414040;
	display:block;
}

.home_listing ul li a:hover{
	margin:0;
	padding:10px 6px 10px 6px;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	background-color:#a0a0a0;
}



.home_listing li a.select,ul.home_listing li a.select:hover{
	margin:0;
	padding:10px 6px 10px 6px;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	background-color:#a0a0a0;
}

.listing_dropdown{
	width:300px;
	height:18px;
	padding:0;
	margin:0;
}

.txt_box_cont{
	margin:0;
	clear:both;
	height:25px;
	background:url(../img/mobile/txtboxbg_01.gif) no-repeat 0 0;
}

.txt_box_field{
	margin-left:6px;
	padding-top:3px;
	clear:both;
	width:160px;
	height:18px;
	background-color:transparent;
	border:none;
	font-size:11px;
}

.min_max_txt{
font:bold 12px Tahoma, Geneva, sans-serif;
	color:#424141;


}

table td{
font-size:12px;
}

