body,html{
padding:0;
margin:0;
}
body{
background:#fff;
font: normal 62.5% Arial, Helvetica, sans-serif;
}
h1,h2,h3,p,span,form,input,ul,li{
padding:0;
margin:0;
}
#page{
width:1000px;
margin:auto;
}
#top-border{
height:5px;
background:#129fd4;
overflow:hidden;
}
#logo-area{
width: 183px;
height:89px;
float:left;
}
#country-location-area{
width:500px;
float:left;
background:url(../images/top-location-area.gif) no-repeat 130px 0px;
height:42px;
}
#country-location-inner-area{
width:363px;
float:right;
text-align:center;
padding: 3px 0 0 0;
font: normal 1.2em Arial, Helvetica, sans-serif;
}
#top-right-links-area{
width:314px;
float:right;
padding: 7px 0 0 0;
}
#top-links{
float:left;
width:200px;
text-align:right;
}
#language{
float:right;
}
.top-links{
font: normal 1.1em Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
color:#000;
}

.top-links a{
font: normal 1.1em Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}

.top-links:hover{
font: normal 1.1em Verdana, Arial, Helvetica, sans-serif;
text-decoration:underline;
}
.balance{
clear:both;
}
#sign-out-area{
float:left;
width:200px;
text-align:right;
font: normal 1.1em Verdana, Arial, Helvetica, sans-serif;
color:#870101;
padding: 10px 7px 0 0;
}

#sign-area{
padding: 20px 0 0 0;
}
#nav-area{
background:url(../images/nav-bar-bg.gif) no-repeat 25px 0px;
width:1000px;
height:47px;
}
#ad-search-area{
width:490px;
float:left;
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#fff;
padding: 14px 0 0 33px;
}
.top-nav-input{
width:195px;
font: normal 12px Arial, Helvetica, sans-serif;
color:#000;
height:16px;
}
#search-button-area{
float:left;
width:75px;
height:40px;
padding: 7px 0 0 0;
}

.top-nav-list{
width:195px;
font: normal 12px Arial, Helvetica, sans-serif;
color:#000;

}
.search-button{
background:url(../images/search-button.gif) no-repeat 0px 2px;
width:75px;
height:29px;
font: bold 1.1em Arial, Helvetica, sans-serif;
color:#000;
border:none;
}
#nav-spacer{
height:6px;
overflow:hidden;
}
#advance-search-area{
float:left;
width:136px;
background:url(../images/advance-search-arrow.gif) no-repeat 3px 19px;
height:27px;
padding: 15px 0 0 10px;
}
.advance-search{
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
}

.advance-search a{
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
}

.advance-search:hover{
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:underline
}
#need-service-bg{
float:left;
background:url(../images/need-service-bg.gif) no-repeat 0px 3px;
height:38px;
width:118px;
padding: 5px 0 0 120px;
}

#content-area{

}
#content-area-top{
background:url(../images/body-area-top.gif) no-repeat 0px 0px;
height:62px;
margin: 0px 0 0 0;
}

#content-area-top-tab-left ul{
list-style-type:none;
margin: 0 0 0 10px;
}

#content-area-top-tab-left ul li{
list-style-type:none;
display:inline;
float:left;
}

#content-area-top-tab-left ul li a{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#a1a1a1;
width:293px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
margin: 0 0px 0 0; 
border:0px solid #000;
}

#content-area-top-tab-left ul li a:hover{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:293px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}

#content-area-top-tab-left ul li a:active{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:293px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}

#content-area-top-tab-left ul li#active a{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:293px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}

#content-area-top-tab-middle{
float:left
}

#content-area-top-tab-middle ul{
list-style-type:none;
margin: 0 0 0 5px;
}

#content-area-top-tab-middle ul li{
list-style-type:none;
display:inline;
float:left;
}

#content-area-top-tab-middle ul li a{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#a1a1a1;
width:357px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
margin: 0 0px 0 5px; 
border:0px solid #000;
}

#content-area-top-tab-middle ul li a:hover{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:357px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}

#content-area-top-tab-middle ul li a:active{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:357px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}


#content-area-top-tab-middle ul li#active a{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:357px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}




#content-area-top-tab-right{
float:left
}

#content-area-top-tab-right ul{
list-style-type:none;
margin: 0 0 0 5px;
}

#content-area-top-tab-right ul li{
list-style-type:none;
display:inline;
float:left;
}

#content-area-top-tab-right ul li a{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#a1a1a1;
width:280px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
margin: 0 0px 0 12px; 
border:0px solid #000;
}

#content-area-top-tab-right ul li a:hover{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:280px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}

#content-area-top-tab-right ul li a:active{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:280px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}

#content-area-top-tab-right ul li#active a{
list-style-type:none;
display:inline;
float:left;
text-decoration:none;
font: bold 15px Arial, Helvetica, sans-serif;
color:#004c79;
width:280px;
height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
}



#content-area-body{
background:url(../images/content-area-body.gif) repeat-y;
}

#content-area-body h1{
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#0e7aa3;
padding: 0 0 0 30px;
}

#content-area-body h2{
font: bold 1.2em Arial, Helvetica, sans-serif;
color:#535353;
padding: 0 0 0 30px;
}

#content-area-body h3{
font: bold 1.2em Arial, Helvetica, sans-serif;
color:#535353;
padding: 10px 0 10px 10px;
}

#content-area-body p{
font:normal 1.1em Arial, Helvetica, sans-serif;
color:#000;
text-align:justify;
line-height:150%;
padding:10px;
}

#content-spacer{
float:left;
width:20px;
}
#top-spacer{
height:20px;

}
#content-area-right{
width:972px;
float:left;
}

#content-area-bottom{
background: url(../images/content-area-bottom.gif) no-repeat 0px 0px;
height:37px;
margin: 0px 0 0 0;
}
.left-space{
float:left;
}
#category-1{
float:left;
border:1px solid #126e91;
margin: 0 0 0 30px;
}

#category-1 ul{
list-style-type:none;
width:350px;
}

#category-1 ul li{
list-style-type:none;
display:block;
}

#category-1 ul li a{
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
border:0px solid #000;
height:30px;
line-height:30px;
vertical-align:middle;
background: url(../images/category-arrow.gif) no-repeat 270px 10px;

}

#category-1 ul li a:hover{
list-style-type:none;
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
background: url(../images/category-arrow-hover.gif) no-repeat #126e91 270px 10px;
color:#fff;
height:30px;
line-height:30px;
vertical-align:middle;

}

#category-1 ul li a:active{
list-style-type:none;
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
background: url(../images/category-arrow-hover.gif) no-repeat #126e91 270px 10px;
color:#fff;
height:30px;
line-height:30px;
vertical-align:middle;

}

#category-1 ul li#active a{
list-style-type:none;
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
background: url(../images/category-arrow-hover.gif) no-repeat #126e91 270px 10px;
color:#fff;
height:30px;
line-height:30px;
vertical-align:middle;

}

#category-2{
float:left;
border:1px solid #126e91;
margin: 0 0 0 10px;
}

#category-2 ul{
list-style-type:none;
width:250px;
}


#category-2 ul li{
list-style-type:none;
display:block;
}

#category-2 ul li a{
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
border:0px solid #000;
height:30px;
line-height:30px;
vertical-align:middle;
background: url(../images/category-arrow.gif) no-repeat 200px 10px;

}

#category-2 ul li a:hover{
list-style-type:none;
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
background: url(../images/category-arrow-hover.gif) no-repeat #126e91 200px 10px;
color:#fff;
height:30px;
line-height:30px;
vertical-align:middle;

}

#category-2 ul li a:active{
list-style-type:none;
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
background:#126e91;
color:#fff;
height:30px;
line-height:30px;
vertical-align:middle;

}

#category-2 ul li#active a{
list-style-type:none;
display:block;
text-decoration:none;
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 60px 0px 15px;
background: #126e91 ;
color:#fff;
height:30px;
line-height:30px;
vertical-align:middle;

}
.no-more{
float:left;
padding: 0 0 0 5px;
}
#current-category{
font: bold 1.2em Arial, Helvetica, sans-serif;
color:#000;
padding: 20px 0 20px 30px;
}



.singer{
font: normal 1.2em Arial, Helvetica, sans-serif;
padding: 0 0 0 35px;
}
.singer-name{
padding: 0 0 0 5px;
}


/* css for top menu */

.preload1 {background: url(../images/pro_drop4_2a.gif);}
.preload1 {background: url(../images/pro_drop4_2b.gif);}

.prodrop4 {padding:0 0 0 32px; margin:0; list-style:none; height:30px; background:transparent url(../images/pro_drop4_back.gif); position:relative; z-index:500; font-family:arial, verdana, sans-serif; margin: 0 0 0 240px;}
.prodrop4 li.top {display:block; float:left;}
.prodrop4 li a.top_link {display:block; float:left; height:30px; line-height:30px; color:#666; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 10px; cursor:pointer;background: url(../images/pro_drop4_0a.gif) no-repeat;}
.prodrop4 li a.top_link span {float:left; display:block; padding:0 20px 0 10px; height:30px;background:url(../images/pro_drop4_0b.gif) right top;}
.prodrop4 li a.top_link:hover {color:#000; background: url(../images/pro_drop4_2a.gif) no-repeat; line-height:30px;}
.prodrop4 li a.top_link:hover span {background:url(../images/pro_drop4_2b.gif) no-repeat right top;}

.prodrop4 li:hover > a.top_link {color:#000; background: url(../images/pro_drop4_2a.gif) no-repeat; line-height:30px;}
.prodrop4 li:hover > a.top_link span {background:url(../images/pro_drop4_2b.gif) no-repeat right top;}


.prodrop4 table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

.prodrop4 a:hover {visibility:visible; position:relative; z-index:200;}
.prodrop4 li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
.prodrop4 ul, 
.prodrop4 :hover ul ul, 
.prodrop4 :hover ul :hover ul ul,
.prodrop4 :hover ul :hover ul :hover ul ul,
.prodrop4 :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.prodrop4 :hover ul.sub {left:0; top:31px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:150px; height:auto; z-index:300;}
.prodrop4 :hover ul.sub li {display:block; height:20px; position:relative; float:left; width:150px; font-weight:normal;}
.prodrop4 :hover ul.sub li a {display:block; font-size:11px; height:20px; width:90px; line-height:20px; text-indent:5px; color:#000; text-decoration:none;}
.prodrop4 :hover ul.sub li a.fly {background:#fff url(arrow.gif) 80px 7px no-repeat;}
.prodrop4 :hover ul.sub li a:hover {background:#3a93d2; color:#fff; width:150px;}
.prodrop4 :hover ul.sub li li a:hover {background:#3a93d2; color:#fff; width:90px;}
.prodrop4 :hover ul.sub li a.fly:hover {background:#3a93d2 url(arrow_over.gif) 80px 7px no-repeat; color:#fff;}
.prodrop4 :hover ul li:hover > a.fly {background:#3a93d2 url(arrow_over.gif) 80px 7px no-repeat; color:#fff;} 

.prodrop4 :hover ul :hover ul,
.prodrop4 :hover ul :hover ul :hover ul,
.prodrop4 :hover ul :hover ul :hover ul :hover ul,
.prodrop4 :hover ul :hover ul :hover ul :hover ul :hover ul
{left:150px; top:-4px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:90px; z-index:400; height:auto;}


#bottom-border{
height:1px;
background:#ccc;
overflow:hidden;
}
#footer-links{
padding: 15px 0 0 0;
}
#footer-links ul{
list-style-type:none;
margin: 0 0 0 280px;
}

#footer-links ul li{
display: inline;
float:left;
}

#footer-links ul li a{
display: inline;
float:left;
padding: 0 10px 0 10px;
text-decoration:none;
font: normal 1.2em Arial, Helvetica, sans-serif;
border-right:1px solid #000;
color:#000;
}

#footer-links ul li a:hover{
padding: 0 10px 0 10px;
text-decoration:underline;
font: normal 1.2em Arial, Helvetica, sans-serif;
}
.footer-link{
font: normal 1.3em Arial, Helvetica, sans-serif;
text-decoration:none;
color:#000;
}
.footer-link a{
font: normal 1.3em Arial, Helvetica, sans-serif;
text-decoration:none;
color:#000;
}
.footer-link:hover{
font: normal 1.3em Arial, Helvetica, sans-serif;
text-decoration:underline;
color:#000;
}

/* css for ad information */
#edit-category{
font: bold 1.4em Arial, Helvetica, sans-serif;
color:#a6a6a6;
padding: 0 0 10px 25px;
}

#current-category-new{
font: normal 1.2em Arial, Helvetica, sans-serif;
color:#000;
padding: 0px 0 5px 30px;
}
.ad-info-border{
height:1px;
overflow:hidden;
background:#ccc;
margin: 10px 25px 10px 30px;
}
.star{
font: normal 1.3em Arial, Helvetica, sans-serif;
color:#990000;
}
#ad-info-left{
float:left;
width:450px;
}
.info-name-location-area{
width:155px;
float:left;
font: normal 1.2em Arial, Helvetica, sans-serif;
padding: 0 0 0 60px;
}

.info-name-input-area{
width:200px;
float:right;
font: normal 1.2em Arial, Helvetica, sans-serif;
padding: 0 0 0 0px;
}

.info-input{
width:164px;
 border:1px solid #109fd6;
 height:22px;
}
.info-balance{
clear:both;
height:5px;
overflow:hidden;
}

#ad-info-right{
float:left;
width:400px;
}

.info-name-location-area-right{
width:105px;
float:left;
font: normal 1.2em Arial, Helvetica, sans-serif;
padding: 0 0 0 60px;
}
#minimum-feedback{
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#000;
padding: 10px 0 0 60px;
}

.min-info-input{
width:70px;
 border:1px solid #109fd6;
 height:22px;
}
.ad-title{
font: bold 1.2em Arial, Helvetica, sans-serif;
color:#000;
padding: 10px 0 0 60px;
}
.title-input{
width:300px;
 border:1px solid #109fd6;
 height:22px;
}
.age{
padding: 10px 0 0 60px;
font: normal 1.2em Arial, Helvetica, sans-serif;
}

.ad-info-border-new{
height:1px;
overflow:hidden;
background:#ccc;
margin: 20px 25px 0px 30px;
}
.upload-images{
border:1px solid #109fd6;
margin: 0 25px 0 30px;
}
.upload-images-header{
height:22px;
background:#0e7aa3;
font: bold 1.3em Arial, Helvetica, sans-serif;
color:#fff;
padding: 8px 0 0 10px;
}
.guitar-image{
border:1px solid #a2a2a2;
}
.max-files{
font: normal 1.2em Arial, Helvetica, sans-serif;
color:#000;
padding: 0 0 0 10px;
}
.upload{
padding: 20px 0 0 150px;
}
.up-button{
float:left;
padding: 0 0 0 20px;
}

.upload-input{
width:400px;
 border:1px solid #109fd6;
 height:22px;
}

#check-left{
float:left;
width:440px;
padding: 10px 0 0 20px;
font: normal 1.3em Arial, Helvetica, sans-serif;
}

.ad-info-border-check{
height:1px;
overflow:hidden;
background:#ccc;
margin: 20px 10px 0px 10px;
}
.check-left{
width:150px;
float:left;
text-align:left;
}
.check-right{
width:250px;
float:right;
text-align:left;
}
.meetings{
font: normal 12px Arial, Helvetica, sans-serif;
color:#0e7aa3;
text-decoration: underline;
}
.meetings a{
font: normal 12px Arial, Helvetica, sans-serif;
color:#0e7aa3;
text-decoration: underline;
}
.meetings:hover{
font: normal 12px Arial, Helvetica, sans-serif;
color:#0e7aa3;
text-decoration: none;
}